.star {
    font-size: 1.5rem;
    color: #f0e4a8;
  }
  .filled {
    color: #ffe358;
  }
  .deep-orange-lighter-hover {
    color: #ff7043;
    -webkit-transition: .4s;
    transition: .4s; }

    .brown-lighter-hover {
      color: #795548;
      -webkit-transition: .4s;
      transition: .4s; }
      #container {

        position: relative;
        display:inline-block;
     }
    
      #text {
        position: absolute;
        color: white;
        font-weight: bold;
        left: 20%;
        right: 0;
        top: 15%;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
      }
      p{
          margin:0;
      }