<div class="container">
    <div class="row mt-3">
        <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
        <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Mes avis
        </p>
      </div>
        <div class="row">
        <img src="/assets/commandes/avis.png" class="img-fluid mb-4" alt="Responsive image">
      </div>


      <div  class="row">
          <div class="col-md-4 mt-3 " *ngFor="let N of Note ; let id = index ;" >
              <div class="justify-content-center align-items-center "  >
          
                  <ul class="stepper stepper-vertical text-center">
          
                          <li   >
                              
                                  <!--Section Title -->
                                 
                                  <a>
                                      <div id="container">
                                          <img src="/assets/commandes/1.png"/>
                                          <p id="text">
                                              {{id+1}}
                                          </p>
                                          
                                        </div>
                                    <span class="text-muli-bold-14 text-grey-custom label">{{N.dateNote|date:'medium'}}</span>
                                  </a>
                          
                                  <!-- Section Description -->
                                  <div class=" w-100">
          
                  <div class="col-md-12 justify-content-center">
                          <!--Card-->
                          <mdb-card cascade="true" narrower="true">
                      
                      
                            <mdb-card-body cascade="true" class="text-center">
                                <img src="/assets/commandes/2.png"/>
                              <!--Card content-->
                              <p class="text-muli-bold-16 text-pink-custom">
                               <span *ngIf="N.delivery.sender" >{{ N.delivery.sender.name}}</span>
                               <span *ngIf="!N.delivery.sender" > Votre choix </span></p>
    
                              <!--Title-->
                           
                              <img src="/assets/commandes/4.png"/>
                              <p class="text-muli-bold-14 text-grey-custom"  > Details</p>
                             
                              
                                  <mdb-card-text class="text-muli-light-18 text-gery-custom">
                                      {{N.comment}}
                                     </mdb-card-text>
                                     <p class="text-muli-bold-14 text-grey-custom"  > Avis</p>
                                  
                                      <ngb-rating [readonly]="true" [(rate)]="N.note">
                                          <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                          </ng-template>
                                        </ngb-rating>
                              
                              
                  
                      
                      
                            </mdb-card-body>
                            <!--/.Card content-->
                      
                          </mdb-card>
                          <!--/.Card-->
                        </div>
              
              
              
              </div>
              </li>
          
              
              
              
              </ul>
                      </div>
          
                      </div>
       </div>   
</div>
