<p class="text-muli-light-26 text-grey-custom text-center mb-1">Nouveau Produit </p>

<div class="justify-content-center col-md-12">

    <form #addProductForm="ngForm" >
        
        <div class="form-row">
            <div class="md-form col-3 mb-1">
              <input #productname="ngModel" required type="text" id="productname" class="form-control validate text-muli-regular-18 text-grey-custom" name="name" [(ngModel)]="selectedProduct.name"
                mdbInput>
              <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="productname">Nom</label>
              <mdb-error *ngIf="productname.invalid && (productname.dirty || productname.touched)">
                   
                Le nom de produit est obligatoire
             
            </mdb-error>
            </div>
            <div class="md-form col-7 mb-1">
                <input #productdes="ngModel" required type="text" id="description" class="form-control text-muli-regular-18 text-grey-custom validate" name="description" [(ngModel)]="selectedProduct.description"
                  mdbInput>
                <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="description">Description</label>
                <mdb-error *ngIf="productdes.invalid && (productdes.dirty || productdes.touched)">
                   
                  La description de produit est obligatoire
               
              </mdb-error>
              </div>
              <div class="md-form col-1 mb-1">
                   
                      <input #productprice="ngModel" required pattern="[0-9.]{1,}$" type="text" id="price" class="form-control text-muli-regular-18 text-grey-custom validate" name="price" [(ngModel)]="selectedProduct.price"
                        mdbInput>
                      <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="price">Prix</label>
                      <mdb-error *ngIf="productprice.invalid && (productprice.dirty || productprice.touched)">
                        <div *ngIf="productprice.errors.required">
                        
                          Le prix du produit est obligatoire
                                    </div>
                                    <div *ngIf="productprice.errors.pattern">
                        
                                      Prix Invalide
                           </div>
                     
                    </mdb-error>
                    </div>
            </div>
         
            <div class="form-row">
              <div class="md-form col-3 form-group input-group">
               
                <select #productcat="ngModel" required class="browser-default custom-select"  [(ngModel)]="selectedProduct.category" name="category" >
                  <option class="text-muli-regular-18 text-grey-custom"  value="0">choisisez une categorie</option>
                  <option class="text-muli-regular-18 text-grey-custom"   *ngFor="let category of categories" value="{{category._id}}">{{category.categoryName}}</option>
                
                </select>
                <mdb-error *ngIf="productcat.invalid && (productcat.dirty || productcat.touched)">
                   
                  La categorie  est obligatoire
               
              </mdb-error>
              </div>
              <div class="md-form col-3 form-group input-group">
               
                <select  required class="browser-default custom-select"  [(ngModel)]="selectedProduct.dayAvailable" name="dayAvailable" >
               
                  <option class="text-muli-regular-18 text-grey-custom"   *ngFor="let Day of DaysOfTheWeek;let id=index" value="{{id}}">{{Day}}</option>
                
                </select>
                
              </div>
          <div class="md-form col-6 form-group input-group">
               
                <input class="file-path form-control" type="text" required id="banner"  name="banner" [(ngModel)]="banner"
              mdbInput mdbValidate disabled>
                 <div class="input-group-append file-field">
                   <div class="text-muli-regular-10 btn btn-grey-custom  mb-0  btn-sm float-left waves-effect waves-light">
                      <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
                      <input class="file" type="file" (change)="selectFile($event)">
                   </div>
                   
                 </div>
              
              </div>
            </div> 
   <div class="form-row">
      <div *ngFor="let option of selectedProduct.options;let idO=index" >
          <a class="text-secondary" ><mdb-icon far icon="plus-square" class="btn-purple-light " size="lg" (click)="addOption()"></mdb-icon></a>
<div class="border border-light p-2 mb-2 mt-2 mr-3">
  
 <div class="mr-3 ml-3">

    <div class="md-form mb-5">
        <input #optionName="ngModel" required type="text" id="optionName" class="form-control validate text-muli-regular-18 text-grey-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="option.optionName"
          mdbInput>
        <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="optionName">Option</label>
        <mdb-error *ngIf="optionName.invalid && (optionName.dirty || optionName.touched)">
             
          L'option de produit est obligatoire
       
      </mdb-error>
      </div>

      <div class="md-form mb-5">
        <input #comment="ngModel" required type="text" id="comment" class="form-control validate text-muli-regular-18 text-grey-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="option.comment"
          mdbInput>
        <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="optionName">Comment</label>
        <mdb-error *ngIf="comment.invalid && (comment.dirty || comment.touched)">
             
          Commentaire d'option obligatoire
       
      </mdb-error>
      </div>
      <div class="md-form mb-8">

      <select required #buttonType="ngModel" [(ngModel)]="option.buttonType" [ngModelOptions]="{standalone: true}"  class="form-control  mb-4 col-6">
        <option value="0">Choix Multiple ou Unique</option>
       <option value="false"> Multiple </option>
       <option value="true"> Unique </option>

     </select> 
     </div>
     <a class="text-secondary" ><mdb-icon far icon="plus-square" class="btn-purple-light" size="lg" (click)="addOptionLine(idO)"></mdb-icon></a>
     <div  *ngFor="let optionLine of option.optionLines" >
     <div class="border border-light p-2 mr-2 ml-2 mt-2 mb-2">
      <div class="mr-3 ml-3">
 
      <div class="md-form mb-5">
          <input #optionLineName="ngModel" required type="text" id="optionLineName" class="form-control validate text-muli-regular-18 text-grey-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="optionLine.name"
            mdbInput>
          <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="optionLineName">Option Line Name</label>
          <mdb-error *ngIf="optionLineName.invalid && (optionLineName.dirty || optionLineName.touched)">
               
            L'option line est obligatoire
         
        </mdb-error>
        </div>
  
        <div class="md-form mb-4">
                   
          <input #OptionLineprice="ngModel" required pattern="[0-9.]{1,}$" type="text" id="price" class="form-control text-muli-regular-18 text-grey-custom validate" [ngModelOptions]="{standalone: true}" [(ngModel)]="optionLine.price"
            mdbInput>
          <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="OptionLineprice">Prix de l'option</label>
          <mdb-error *ngIf="OptionLineprice.invalid && (OptionLineprice.dirty || OptionLineprice.touched)">
                        <div *ngIf="OptionLineprice.errors.pattern">
            
                          Prix Invalide
               </div>
         
        </mdb-error>
        </div>
  
      </div>
  
  
  </div>
  
  
  
  
      </div>
      </div>
    </div>



    </div>
  </div>





        
        <div class="modal-footer d-flex justify-content-center">
          <button [class.disabled]="addProductForm.invalid" (click)="addProduct()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Enregistrer</button>
  
        
        </div>
      </form>


    </div>
