<div class="container mt-5" >
  <div class="row">
      <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
      <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Authentification & inscription
      </p>
      <img src="/assets/header.png" class="img-fluid mb-4" alt="Responsive image">
  </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 ">
       
    <!-- Default form login -->
    <form class="text-center border border-light p-5">
      
        <img src="/assets/connect-icone.png" class="img-fluid" alt="Responsive image">
      <p class="text-muli-bold-21 text-purple-custom mb-4">se connecter</p>
      <div *ngIf="message===4" class="alert alert-danger" role="alert">
        Votre compte n'est pas encore confirmé , vérifiez votre boite mail pour le confirmer
      </div>
      <div *ngIf="message===1" class="alert alert-danger mt-1" role="alert">
        Email ou mot de passe invalide
    </div>
      <div class="form-row">
          <div class="col">
      <!-- Email -->
      <input   [formControl]="getSignInFormEmail" mdbValidate name="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"   >
      <mdb-error *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
      Email invalide
    </mdb-error>
  </div>
    </div>
      <!-- Password -->
      <div class="form-row mb-4">
          <div class="col input-group">
      <input [formControl]="getSignInFormPassword" mdbValidate name="password" [type]="fieldTextType ? 'text' : 'password'" id="defaultLoginFormPassword" class="form-control" placeholder="mot de passe">

        <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType()">
          <i
          class="fa"
          [ngClass]="{
            'fa-eye-slash': !fieldTextType,
            'fa-eye': fieldTextType
          }"
        ></i>                        </span>
      <mdb-error
      *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
      Mot de passe Obligatoire
    </mdb-error>
    
  </div></div>
  <div class="d-flex justify-content-around">
   
    <div>
      <!-- Forgot password -->
      <a (click)="generatePassword()">Mot de passe oublié ?</a>
    </div>
  </div>
      <button [class.disabled]="signInForm.invalid" mdbBtn (click)="signin()" block="true" class="text-muli-semi-bold-14 btn-pink-custom my-4" type="submit">se connecter</button>
    
      <div class="text-center">
        <p>ou se connecter avec:</p>
       <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','IN')"></mdb-icon>
       <mdb-icon class="text-pink-dark-custom"  fab icon="google-plus-g" (click)="signWithSocial('GO','IN')"></mdb-icon>
        </div>
    
    
    </form>
    <!-- Default form login -->
    
    </div>
    
    
    
    
    
      <div class="col-md-6 col-sm-12 "   >
       
    
    <!-- Default form register -->
    <form class="text-center border border-light p-5">
        <img src="/assets/signup-icone.png" class="img-fluid" alt="Responsive image">
      <p class="text-muli-bold-21 text-purple-custom  mb-4">S'inscrire</p>
      <div *ngIf="message===6" class="alert alert-success mt-1" role="alert">
        Votre compte a été créé , Consulter votre boite mail pour les étapes suivantes
      </div>
      <div *ngIf="message===2" class="alert alert-danger mt-1" role="alert">
        Email deja utilise
    </div>  
    <div *ngIf="message===3" class="alert alert-danger mt-1" role="alert">
      Email invalide, vérifiez votre addresse mail SVP
    </div>
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input [formControl]="getSignupFormFName" required mdbInput mdbValidate name="firstName" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Prénom">
          <mdb-error *ngIf="getSignupFormFName.invalid && (getSignupFormFName.dirty || getSignupFormFName.touched)">
              Prenom Obligatoire
            </mdb-error>
        </div>
        <div class="col">
          <!-- Last name -->
          <input  [formControl]="getSignupFormLName" required  mdbInput mdbValidate name="lastName" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Nom de famille">
          <mdb-error *ngIf="getSignupFormLName.invalid && (getSignupFormLName.dirty || getSignupFormLName.touched)">
            Nom Obligatoire
            </mdb-error>
        </div>
      </div>
      
      <!-- phone number-->
      <div class="form-row ">
          <div class="col">
      <input [formControl]="getSignupFormPhone" mdbInput mdbValidate name="phoneNumber" type="text" id="defaultRegisterFormPhoneNumber" class="form-control mb-4" required pattern="[0-9]{8,8}$" minlength="8" maxlength="8" placeholder="Télephone">
      <mdb-error *ngIf="getSignupFormPhone.invalid && (getSignupFormPhone.dirty || getSignupFormPhone.touched)">
          Numero téléphone 8 chiffres Obligatoire
        </mdb-error>
      </div>    
    </div>
      <!--NCIN-->
<!--       <div class="form-row">
          <div class="col">
      <input  [formControl]="getSignupFormNcin" mdbInput mdbValidate name="ncin" type="text" id="defaultRegisterFormNcin" class="form-control mb-4" required pattern="[0-9]{8,8}$" maxlength="8" minlength="8" placeholder="Numero carte national">
      <mdb-error *ngIf="getSignupFormNcin.invalid && (getSignupFormNcin.dirty || getSignupFormNcin.touched)">
          Numero CIN 8 chiffres Obligatoire
        </mdb-error>
      </div>    
    </div> -->
      <!--   <div class="form-row">
            <div class="col">
      
         
      <input  [formControl]="getSignupFormAdresse" mdbInput mdbValidate name="addresse" type="text" id="defaultRegisterFormAddresse" class="form-control mb-4" placeholder="Addresse">
      <mdb-error *ngIf="getSignupFormAdresse.invalid && (getSignupFormAdresse.dirty || getSignupFormAdresse.touched)">
          Adresse Obligatoire
        </mdb-error>
      </div>    
    </div> -->
      <!-- E-mail -->
      <div class="form-row">
          <div class="col">
      <input  [formControl]="getSignupFormEmail" mdbInput mdbValidate name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" (focusout)="check()">
      <mdb-error
      *ngIf="getSignupFormEmail.invalid && (getSignupFormEmail.dirty || getSignupFormEmail.touched)">
      Email Invalide
    </mdb-error>
   
  </div>    
</div>
      <!-- Password -->
      <div class="form-row">
          <div class="col input-group">
      <input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(0)"  autocomplete="new-password" passwordValidator [formControl]="getSignupFormPassword" mdbInput mdbValidate name="password" [type]="fieldTextType1 ? 'text' : 'password'" id="defaultRegisterFormPassword"  class="form-control" placeholder="mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <div class="input-group-append">

        <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType1()">
          <i
          class="fa"
          [ngClass]="{
            'fa-eye-slash': !fieldTextType1,
            'fa-eye': fieldTextType1
          }"
        ></i>                        </span></div>
      <mdb-error
      *ngIf="getSignupFormPassword.invalid && (getSignupFormPassword.dirty || getSignupFormPassword.touched)">
      Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
      
    </mdb-error>
   
  </div>
    
</div>
<br>
<div class="form-row">
  <div class="col input-group">
<input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(1)"
   autocomplete="new-password" passwordValidator [formControl]="getSignupFormPasswordC" mdbInput
    mdbValidate name="passwordConfirmation" [type]="fieldTextType2 ? 'text' : 'password'" id="defaultRegisterFormPasswordC"  class="form-control" placeholder="répéter  mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <div class="input-group-append">

      <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType2()">
        <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !fieldTextType2,
          'fa-eye': fieldTextType2
        }"
        
      ></i>                        </span></div>
<mdb-error
*ngIf="message === 7">
Les mots de passe saisis ne sont pas identiques. 
</mdb-error>

</div>

</div>
<div class="form-row">
  <div class="col mt-3">
    <mdb-checkbox [ngModelOptions]="{standalone: true}" [default]="true"  [(ngModel)]="checkbox">J'ai lu et accepté les Termes et conditions et <a target="_blank" routerLink="/confidentiality"> la Politique de confidentialité</a></mdb-checkbox>
  </div>

</div>

      
    
      <!-- Sign up button -->
      <button [class.disabled]="signUpForm.invalid||message===7||message===3||checkbox===false" mdbBtn  block="true" class="text-muli-semi-bold-14 btn-pink-custom my-4" (click)="signup()" type="submit">s'inscrire</button>
    
      
    
      <hr>
    
      <div class="text-center">
        <p>ou s'inscrire avec:</p>
       <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','UP')"></mdb-icon>
       <mdb-icon class="text-pink-dark-custom" fab icon="google-plus-g" (click)="signWithSocial('GO','UP')"></mdb-icon>
      </div>
    
    </form>
    <!-- Default form register -->
    
    
    </div>
    
    </div>
    
    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisir votre numéro de téléphone </strong> </h4>
          </div>
          <div class="modal-body">

            <div class="md-form ml-4 mr-4 mt-3">
              <input #phonenumber2="ngModel" mdbInput type="text" pattern="[0-9]{8,8}$" minlength="8" maxlength="8" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="phonenumber">
              <label for="comment">Numéro de téléphone</label>
              <mdb-error *ngIf="phonenumber2.invalid && (phonenumber2.dirty || phonenumber2.touched)">
                Numéro téléphone de 8 chiffres Obligatoire
              </mdb-error>
         </div>
        </div>
          <div class="modal-footer">
            <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="save()"  mdbWavesEffect>Enregistrer</button>
          </div>
        </div>
      </div>
    </div>

    <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead text-purple-custom text-muli-bold-21">Mot de passe oublié ?</p>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        <!--Body-->
        <div class="modal-body">
          <div *ngIf="forgotPassword!==2" class="form-row mb-2">
            <div class="col">
        <!-- Email -->
        <input  mdbValidate name="mail" [(ngModel)]="mail" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"   >
        <mdb-error *ngIf="forgotPassword===1">
        L'email que vous avez saisie n'admet pas de compte
      </mdb-error>
    </div>
      </div>
          <div *ngIf="forgotPassword===2" class="text-center">
            <mdb-icon fas icon="check" size="4x" class="mb-3 text-purple-custom animated rotateIn"></mdb-icon>
            <p class="text-muli-semi-bold-14">Vérfier votre mail, pour récuperer votre nouvelle mot de passe</p>
          </div>
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a *ngIf="forgotPassword!==2" type="button" mdbBtn  outline="true" class="waves-effect text-muli-semi-bold-14 btn-purple-custom-outline" mdbWavesEffect (click)="generatePassword()"
          data-dismiss="modal">Envoyer</a>
          <a *ngIf="forgotPassword===2" type="button" mdbBtn  outline="true" class="waves-effect text-muli-semi-bold-14 btn-purple-custom-outline" mdbWavesEffect (click)="frame.hide()"
            data-dismiss="modal">Fermer</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

<div mdbModal #recipientModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="recipientModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisir le code d'activation  </strong> </h4>
      </div>
      <div class="modal-body">
        <div *ngIf="verif" class="alert alert-danger mt-1" role="alert">
          Votre code est invalid
      </div> 
        <div class="md-form ml-4 mr-4 mt-3">
          <input #code2="ngModel" mdbInput type="text" class="form-control" id="code" name="code" [(ngModel)]="code">
          <label for="comment">code</label>
     </div>
    </div>
      <div class="modal-footer">
        <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="verified()"  mdbWavesEffect>Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #modalrecipient="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalrecipient.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisissez votre nouveau mot de passe </strong> </h4>
      </div>
      <div class="modal-body">

        <div class="md-form ml-4 mr-4 mt-3">
          <input mdbInput type="text" class="form-control" id="pass" name="pass" [(ngModel)]="passimput" #pass="ngModel" >
          <label for="comment">mot de passe</label>
          <mdb-error *ngIf="forgot===1">
           Mod de passe incorrect
          </mdb-error>
     </div>
    </div>
      <div class="modal-footer">
        <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="verification()"  mdbWavesEffect>valider</button>
      </div>
    </div>
  </div>
</div>