<div class="container mb-5 mt-5">
    <div class="row">
        <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
        <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Paramètres de compte
        </p>
        <img src="/assets/header-profil.png" class="img-fluid mb-4" alt="Responsive image">
    </div>
   
<form #form="ngForm">
    <!-- Grid row -->
    <div class="form-row justify-content-center">
      <!-- Grid column -->
      <div class="col-md-4">
        <!-- Material input -->
        <div class="md-form form-group">
          <input #firstname="ngModel" mdbInput type="text" class="form-control" id="firstname" required pattern="[a-zA-Z]{2,}$" name="firstname" [(ngModel)]="recipient.firstName"> 
          <label for="address">Nom</label>
          <mdb-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
            Nom Obligatoire
          </mdb-error>

        </div>
      </div>
      <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-md-4">
          <!-- Material input -->
          <div class="md-form form-group">
            <input #lastname="ngModel" mdbInput type="text" class="form-control" id="lastname" required pattern="[a-zA-Z]{2,}$" name="lastname" [(ngModel)]="recipient.lastName">
            <label for="address">Prenom</label>
            <mdb-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              Prenom Obligatoire
            </mdb-error>

          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid row -->
    </div>
      <!-- Grid row -->
      <div class="form-row justify-content-center">
              <!-- Grid column -->
              <div class="col-md-4">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input #address="ngModel" mdbInput type="text" class="form-control" id="address" name="address" required [(ngModel)]="recipient.address">
                  <label for="lastName">Address</label>
                  <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
                    Addresse Obligatoire
                  </mdb-error>
                </div>
              </div>
              <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input #phoneNumber="ngModel" required pattern="[0-9]{8,8}$" minlength="8" required maxlength="8" mdbInput type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="recipient.phoneNumber" >
                <label for="phoneNumber">Téléphone mobile</label>
                <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                  Numéro Telephone de 8 chiffres Obligatoire
                </mdb-error>
               
      
              </div>
            </div>
                <!-- Grid column -->
                <!-- Grid row -->
            </div>
<!--     <div class="form-row justify-content-center">
      <div class="col-md-4">
        <div class="md-form form-group">
          <input #cin="ngModel" required pattern="[0-9]{8,8}$" mdbInput type="text" class="form-control" id="cin" name="cin" [(ngModel)]="recipient.cin" required maxlength="8" minlength="8" >
          <label for="address">CIN</label>
          <mdb-error *ngIf="cin.invalid && (cin.dirty || cin.touched)">
              CIN de 8 chiffres Obligatoire
            </mdb-error>
        </div>
      </div>

      <div class="col-md-4">
        <div class="md-form form-group">
          <input #rib="ngModel" required pattern="[0-9]{20,20}$" mdbInput type="text" class="form-control" id="rib" name="rib" [(ngModel)]="recipient.rib" required maxlength="20" minlength="20" >
          <label for="rib">RIB</label>
          <mdb-error *ngIf="rib.invalid && (rib.dirty || rib.touched)">
              RIB de 20 chiffres Obligatoire
            </mdb-error>
        </div>
      </div>    
    </div> -->
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-row justify-content-center">
      <!-- Grid column -->
      <div class="col-md-4">
        <!-- Material input -->
        <div class="md-form form-group">
          <input #email="ngModel" mdbInput type="email" class="form-control" id="email" name="email" [(ngModel)]="recipient.email" disabled >
          <label for="email">Email</label>
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
            Email Obligatoire
          </mdb-error>
        </div>
      </div>
    
      <!-- Grid column -->
      <div *ngIf="!social"  class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input pattern="(?=.*\d)(?=.*[a-z]).{5,}" #password="ngModel" autocomplete="new-password" required minlength="5"  mdbInput type="password" class="form-control" value="" name="password" id="password" [(ngModel)]="recipient.password" >
                <label for="password">Mot de passe</label>
                <mdb-error
                *ngIf="password.invalid && (password.dirty || password.touched)">
                Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
                
              </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
    </div>
    <div class="modal-footer border-top-0 d-flex justify-content-right">
      <button [class.disabled]="form.invalid" (click)="update()" (click)="frame.show()" mdbBtn class="text-muli-semi-bold-14 btn-pink-custom waves-light" mdbWavesEffect>Enregistrer</button>
    </div>
    </form>
    
    </div>



    <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead text-purple-custom text-muli-bold-21">Success</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 text-purple-custom animated rotateIn"></mdb-icon>
          <p class="text-muli-semi-bold-14">Information Modifier avec success</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        
        <a type="button" mdbBtn  outline="true" class="waves-effect text-muli-semi-bold-14 btn-purple-custom-outline" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Continuer</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>