


<div class="bg">

    <div class="container "> 
    
    <div class="font-weight-bold">
    <h1 class="text-center mt-2 text-muli-light-26 text-grey-custom"> Livraison en attente  </h1>
    </div>
    </div>
    <div class="container justify-content-center align-items-center "style="margin-top:3%;">
        <div *ngIf="blocked" class="row" >
            <p class="text-muli-light-26 text-grey-custom text-center mb-5 mx-auto"> Vous etes temporairement bloqué !!
              </p>
        </div>
      <div *ngIf="!blocked" class="row">
          <div *ngIf="Delivery.length==0" class="mx-auto">
    
              <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas encore des livraisons en attente
                  </p>
               
                
        </div>
        <div *ngFor="let D of Delivery ; let id = index ;" class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mb-5" style="margin-bottom: 20 px;">
          
           
          <mdb-card>
                <!--Card image-->
               
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  
                  <mdb-card-title>
                      <p class="text-muli-semi-bold-16 text-grey-darker-custom">{{D.createdAt | date:'longDate'}}</p>
                      <p *ngIf="D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender.name}} </p>
                      <p *ngIf="D.sender && !D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender}} </p>
                      <p class=" " *ngIf="!D.sender">
                        <span class="text-muli-regular-16 text-grey-dark-custom ">Restaurant :</span>
                        <span class="text-muli-regular-22 text-grey-darker-custom">Choix du client</span> </p> 
                        <p class="text-muli-regular-16 text-grey-dark-custom">Détails de la commade :
                          <button class="lien " type="button" mdbBtn color="link" style="color: #fb72c4!important;" (click)="test.toggle()"  mdbWavesEffect>voir</button>
                      </p>

                        <div class="text-muli-regular-16 text-grey-dark-custom" mdbCollapse #test="bs-collapse">
                            <span *ngIf='D.object'>
                                <div *ngFor="let item of D.description" >
                                  {{item.quantity}} x {{item.product}}
                                </div>
                              </span>
                              <span *ngIf="!D.object">{{D.description }}</span>
                        </div>

                </mdb-card-title>
                <mdb-card-text class="border-top border-bottom">
                    <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Gain : {{D.deliveryFee}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>
                    <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Total : {{D.total}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>

                  </mdb-card-text>
            
                <mdb-card-title>
                    <h4></h4>  

               
              </mdb-card-title>
              <mdb-card-text  ><h6 class="text-purple-custom pb-2 pt-1"> <a (click)="selectedId=D._id;Mapframe.show()"><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>
                <span class="text-muli-bold-16 text-purple-custom">Voir Adresse 
               </span></a>
              </h6>                
             </mdb-card-text>
           <div mdbModal #Mapframe="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-grey-darker-custom text-muli-bold-24">Adresses</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Mapframe.hide();selectedId=''">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body mx-3">
                 <h5 (click)="change($event)" style="max-width: 75%;" class="pink-text pb-2 pt-1 d-inline-block text-truncate"><mdb-icon class="mr-2 text-purple-custom" fas icon="map-marker-alt"></mdb-icon>
                  <span class="text-muli-bold-18 text-purple-custom">De:</span>
                   <span class="text-muli-regular-16 text-purple-custom">{{D.startingPoint}}
                  </span></h5>
                  <br>                
              
      
                 <h5 (click)="change($event)" style="max-width: 75%;" class="pink-text pb-2 pt-1 d-inline-block text-truncate"><mdb-icon class="mr-2 text-purple-custom" fas icon="map-marker-alt"></mdb-icon>
                  <span class="text-muli-bold-18 text-purple-custom">A:</span>
                     <span class="text-muli-regular-16 text-purple-custom">{{D.arrivalPoint }}
                    </span></h5>
                    <app-google *ngIf="selectedId===D._id" [type]="true" [value]="D"  [parent]="this" ></app-google>
                
                      </div>
                      <div class="modal-footer d-flex justify-content-center ">
                        <button (click)="Mapframe.hide();selectedId=''" mdbBtn  class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect>Fermer</button>
                      </div>
                    </div>
                  </div>
                </div> 
            

    <!--             <mdb-card-text><h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="map-marker-alt"></mdb-icon>
                   <span (click)="change($event)" class="d-inline-block text-truncate" style="max-width: 75%;" >{{D.startingPoint}}
                  </span></h5>                
                </mdb-card-text>
      
                  <mdb-card-text ><h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="map-marker-alt"></mdb-icon>
                     <span (click)="change($event)" class="d-inline-block text-truncate" style="max-width: 75%;" >{{D.arrivalPoint }}
                    </span></h5>
                  </mdb-card-text> -->
                 
                        
                  
  
                  <button type="button" class="btn btn-pink-custom-outline text-muli-bold-16 waves-effect" href="" data-target="#basicExample" (click)="selectedId=D._id;framee.show()"
                  mdbWavesEffect><i class="far fa-list-alt pr-2" aria-hidden="true"></i>je suis intéressé(e)</button>
                
                

                <div mdbModal #framee="mdbModal" class="modal fade top" id="frameModalTope" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-notify modal-success" role="document">
                    <!--Content-->
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                        <p class="heading lead">Proposition de livraision </p>
                
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="framee.hide()">
                          <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                      </div>
                     
                      <!--Body-->
                      <div class="modal-body">
                        <div class="text-center">
                          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                          <p>Voulez vous livrer? </p>
                        </div>
                      </div>
                
                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <a (click)="accept();framee.hide()" type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>oui
                        </a>
                        <a  type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="framee.hide()">non</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
                        
                </mdb-card-body>
              </mdb-card>
    
    </div>



        
                
 
    

</div> 
    
    
    </div>
         
             
</div>
    

        