<!--Navbar-->
<mdb-navbar SideClass="sidebar navbar navbar-expand-lg navbar-dark stylish-color" [containerInside]="false" >

    <ul class="nav flex-column  lighten-4 ">
        <li class="text-center  nav-item py-3">
            <a class="nav-link" >
                    <h1 class="display-3">Deliv's</h1>
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="/admin/home" >                 
                <p class="sideP"> <mdb-icon fas icon="home"></mdb-icon><b>Reporting Standard</b> </p>                 
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="/admin/homep" >                 
                <p class="sideP"> <mdb-icon fas icon="home"></mdb-icon><b>Reporting Prédictif</b> </p>                
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="/admin/deliveryMenList" >                 
                <p class="sideP"> <mdb-icon fas icon="user-friends"></mdb-icon><b>Livreurs</b> </p>                
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="/admin/customers" >                 
                <p class="sideP"> <mdb-icon fas icon="user-friends"></mdb-icon><b>Clients</b> </p>                
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="/admin/categories"  >                       
                <p class="sideP"><mdb-icon far icon="list-alt"></mdb-icon><b>Categories</b> </p>                    
            </a>
        </li>
        <li class="text-center nav-item py-3">
                <a class="nav-link" routerLink="/admin/FoodDeliveries"  >                       
                    <p class="sideP"><mdb-icon far icon="list-alt"></mdb-icon><b>Livraisons</b> </p>                    
                </a>
            </li>
            <li class="text-center nav-item py-3">
                    <a class="nav-link"  routerLink="/admin/ListRestaurants"  >                       
                        <p class="sideP"><mdb-icon fas icon="home"></mdb-icon><b>Restaurants</b> </p>                         
                    </a>
                </li>
                <li class="text-center nav-item py-3">
                        <a class="nav-link" routerLink="/admin/deliveryFee" >                       
                            <p class="sideP"><mdb-icon fas icon="dollar-sign"></mdb-icon><b>Gestion Prix</b> </p>                         
                        </a>
                    </li>
                  <!--   <li class="text-center nav-item py-3">
                            <a class="nav-link"  >                       
                                <p class="sideP"><mdb-icon fas icon="cog"></mdb-icon><b>Parametres Profil</b> </p>                         
                            </a>
                        </li> -->
    </ul>
  
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
