.btn-group .btn{
    border-radius: 20rem
}

.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
.btn-group > .btn:not(:last-child), .btn-group > .btn-group:not(:last-child) > .btn {
  //  border-top-right-radius: 0;
  //  border-bottom-right-radius: 0;
}
span.circle{
    background: url("./../../../assets/commandes//1.png")no-repeat center center;
    background-size: cover;
}
#container {

    position: relative;
    display:inline-block;
 }

  #text {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 20%;
    right: 0;
    top: 15%;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }
  p{
      margin:0;
  }