<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
     
      <div class="view w-100">
            <img class="d-block w-100" src="assets/Delivery.jpg"
                 alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          
    </mdb-carousel-item>

  </mdb-carousel>
  <!--Carousel Wrapper-->

<div mdbModal #frame="mdbModal" class="modal fade " id="frameModalTop" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 *ngIf="!new" class="modal-title w-100 font-weight-bold">Se connecter</h4>
  
   
  </div>
  <div *ngIf="!new && signInForm" class="modal-body mx-3">
    <div class="md-form mb-5">
      <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
      <input type="email" id="defaultForm-email" [formControl]="getSignInFormEmail" class="form-control"
             mdbInput mdbValidate>
      <label for="defaultForm-email">Email</label>
      <mdb-error
        *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
        Email invalide
      </mdb-error>
    
    </div>

    <div class="md-form mb-4">
      <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
      <input type="password" id="defaultForm-pass" [formControl]="getSignInFormPassword" class="form-control"
             mdbInput mdbValidate>
      <label for="defaultForm-pass">Mot de passe</label>
      <mdb-error
        *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
        Mot de passe Obligatoire
      </mdb-error>
      <mdb-error
      *ngIf="errorMessage">
      Email ou mot de passe incorrect
      
    </mdb-error>
     
    </div>

  </div>

  <div class="modal-footer d-flex justify-content-center">
    <button  (click)="signin()" [class.disabled]="signInForm.invalid" mdbBtn color="default" class="waves-light" mdbWavesEffect>Se connecter</button>

  </div>

</div>
</div>
</div>
