<!-- Extended material form grid -->
<h3 class="h3-responsive">Informations</h3>
<div class="form-row"><button  type="button" mdbBtn color="primary" class="relative waves-light mx-auto" (click)="basicModal.show()" mdbWavesEffect>Frais Deliv's</button>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Frais Deliv's</h4>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-3"><h5 class="" >Type</h5></div>
          <div class="col-md-8 ml-2">
            <select class="browser-default custom-select"  name="typeFee" [(ngModel)]="sender.delivsFee.typeFee">
              <option value="0">Fixe (DT)</option>
              <option value="1">Pourcentage (%)</option>
            </select>
        
    </div>
          
    </div>
         
       <div class="form-row mt-3">
        <div class="col-md-3"><h5 class="" >Methode</h5></div>
        <div class="col-md-8 ml-2">
          <select class="browser-default custom-select"  name="method" [(ngModel)]="sender.delivsFee.method">
            <option value="0">Augmentation (+)</option>
            <option value="1">Dimunution (-)</option>
          </select>
        </div>
  </div>
           
 
    
        <div class="form-row mt-3">
          <!-- Grid column -->
          <div class="col-md-11">
            <!-- Material input -->
            <div class="md-form form-group mt-0">
              <input mdbInput type="text" class="form-control" id="fee" name="fee" [(ngModel)]="sender.delivsFee.fee" >
              <label for="fee">Valeur <span *ngIf="sender.delivsFee.typeFee===0">(DT)</span>
                <span *ngIf="sender.delivsFee.typeFee===1">(%)</span>
              </label>
            </div>
          </div>
        </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="update(basicModal)" mdbWavesEffect>Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<form   >
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="name" name="name" [(ngModel)]="sender.name" disabled>
        <label *ngIf="sender.type==='0'" for="name">Nom</label>
        <label *ngIf="sender.type!=='0'" for="name">Prenom</label>
      </div>
    </div>
    <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="address" name="address" [(ngModel)]="sender.address"disabled >
          <label for="address">Adresse</label>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid row -->
  </div>
    <!-- Grid row -->

  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="sender.phoneNumber" disabled>
        <label for="phoneNumber">Téléphone mobile</label>
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="email" class="form-control" id="email" name="email" [(ngModel)]="sender.email" disabled >
        <label for="email">Email</label>
      </div>
    </div>

  </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="minOrder" name="minOrder" [(ngModel)]="sender.minOrder" disabled>
        <label for="minOrder">Minimum de commande</label>
      </div>
    </div>


  </div>
  <!-- Grid row -->
  <!-- Grid row -->

  <!-- Grid row -->
  <!-- Extended material form grid -->
<h3 *ngIf="sender.type==='0'" class="h3-responsive">Menu
        
</h3>
<table *ngIf="sender.type==='0'" id="orders" class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center"> Nom  </th>
          <th class="text-center description">Description</th>
          <th class="text-center"> Categorie  </th>
          <th class="text-center">Prix</th>
         
        </tr>
        <tr *ngFor="let product of sender.menu; let id = index ;">
          <td>
            <span>{{id+1}}</span>
          </td>
          <td>
            <span>{{product.name }}</span>
          </td>
          <td>
              <span>{{ product.description}}</span>
            </td>
            <td>
              <span> {{getCategorie(product.category) }}</span>
            </td>
            <td>
                <span> {{product.price }}</span>
              </td>
          </tr></table>
            <!-- Grid row -->
  <h3  class="h3-responsive mb-2 "><strong class="mr-5">Avis</strong>
    
    <ngb-rating [readonly]="true" [(rate)]="noteAverage">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
      </ng-template>
    </ngb-rating>
  </h3>
  
  <table  id="orders" class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center"> Note  </th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Date</th>
            
          </tr>
          <tr *ngFor="let note of notes; let id = index ;">
            <td>
              <span>{{id+1}}</span>
            </td>
            <td>
              <span>  {{note.note }}  </span>
            </td>
           
              <td>
                  <span> {{note.comment }} </span>
                </td>
                <td>
                    <span>{{ note.dateNote | date : 'longDate'}}</span>
                  </td>
          
           </tr>
     
        </table>