<div class="container ">
<div class="row">
    <mdb-breadcrumb customClass="white lighten-4">
        <mdb-breadcrumb-item ><a routerLink="/home" class="text-roboto-regular text-grey-custom">Accueil</a></mdb-breadcrumb-item>
       
        <mdb-breadcrumb-item class="text-purple-custom text-roboto-regular" *ngIf="sender"> <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>{{sender.name}}</mdb-breadcrumb-item>
      </mdb-breadcrumb>
      
</div>
  <div class="row d-none d-sm-block">

    <div class="col-12 col-md-12"  *ngIf="sender">
            <!--Card-->
            
              <div class="view">
                <img src="assets/resto-banner1.png" class="img-fluid" alt="placeholder">
                <div class=" mask  waves-effect waves-light ">
                  <p class="white-text text-robototitle-Medium">{{sender.name}}</p>
                  
                </div>
              </div> 
                   
                      <!--/.Card content-->
 
            <!--/.Card-->
         
    </div>
</div>
<div class="row d-block d-sm-none">

  <div class="col-12 col-md-12"  *ngIf="sender">
          <!--Card-->
          
            <div class="view">
              <img src="assets/resto-banner1.png" class="img-fluid" alt="placeholder">
  
            </div> 
                 
                    <!--/.Card content-->

          <!--/.Card-->
       
  </div>
</div>
<div *ngIf="!sender" class="text-center m-5">
  <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
    <div class="row mt-3">
    <div class="col-lg-8 col-md-12 col-sm-12 " *ngIf="sender">
        <div *ngIf="sender.closed || setStatus()"   class="alert alert-danger btn-purple-custom" role="alert">
            {{sender.name}} est fermé pour le moment
          </div>
         
        <h5   class="text-roboto-Medium  text-purple-custom text-left text-truncate"><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>{{sender.address}}</h5>
        <div>
         <p class="text-roboto-regular-smaller text-grey-custom text-truncate" ><mdb-icon far icon="star"></mdb-icon> {{noteAverage}}
           <span *ngIf="sender && sender.minOrder > 0" >  Min. commande {{sender.minOrder}} TND</span>
         </p>
         <p class="d-block d-lg-none text-center">  <img *ngIf="sender" src="{{sender.banner}}" class="img-fluid rounded-circle mb-3 " style="width: 150px;" alt="placeholder"></p>
        </div>
        <mdb-navbar *ngIf="categories && categories.length!==0"  SideClass="navbar navbar-expand-lg navbar-dark " class="navCss">
          <mdb-navbar-brand><span class="navbar-brand"></span></mdb-navbar-brand>
          <links>
              <ul class="navbar-nav mr-auto">
                  <li *ngFor="let category of categories" [class.active]="activeCategory._id==category._id"  class="nav-item">
                      <a class="nav-link waves-light text-muli-semi-bold-14" (click)="filter(category)" mdbWavesEffect>{{category.categoryName}} </a>
                  </li>
                  
              </ul>
              
          </links>
      </mdb-navbar>


<div class="container justify-content-center align-items-center mt-3">
  <div *ngIf="sender"  class="row">
    <div class="col-md-6 mb-3 " *ngFor="let product of menu; let id=index">
      <mdb-card >
        <mdb-card-body >
          <div class="row" >
          <div class="col-8">
<!-- <h5 class="text-brown-custom pb-2 pt-1 d-inline-block text-truncate text-purple-custom text-muli-semi-bold-16" (click)="change($event)" style="max-width: 90%;"><i class="fas fa-map-marker-alt"></i> {{sender.address}}</h5>
 -->
          <mdb-card-title class="d-block text-truncate text-purple-darker-custom text-roboto-Medium" (click)="change($event)" style="max-width: 90%;">
            {{product.name}}
          </mdb-card-title>
          <mdb-card-text (click)="selectedProduct=product;selectedProduct.id=id;productModal.show();"  class="d-block text-truncate text-grey-custom text-roboto-regular" style="max-width: 80%;">{{product.description}}</mdb-card-text>
         <!--  <mdb-card-text class="text-grey-custom text-roboto-regular">{{product.price}}  TND</mdb-card-text> -->
          <mdb-card-text (click)="selectedProduct=product;selectedProduct.id=id;productModal.show();"  class="text-grey-custom text-roboto-regular">{{GetNewPrice(sender.delivsFee,product.price)}}  TND</mdb-card-text>
        </div>
        <div class="col-4">
          <img (click)="selectedProduct=product;selectedProduct.id=id;productModal.show();"  *ngIf="product.image" src="{{product.image}}" style="width: inherit;height: 60px" class="mb-3">
          <a *ngIf="!sender.closed && setStatus()===false"  style="float: right;" class="text-secondary"><mdb-icon  (click)="selectedProduct=product;selectedProduct.id=id;productModal.show();"  far icon="plus-square" class="text-pink-custom" size="lg"></mdb-icon>   </a>

        </div>
      </div>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>

</div>

<!--Table-->


    </div>
    <div *ngIf="sender" class="col-lg-4 col-md-12 col-sm-12  mt-3 mb-5">
      <div class="row d-none d-lg-block text-center">  <img *ngIf="sender" src="{{sender.banner}}" class="mx-auto img-fluid rounded-circle mb-3 w-50" alt="placeholder"></div>
      <div class=" justify-content-center align-items-center">
      <div class="mx-auto">
          <mdb-card class="mx-auto" style="width: 22rem">
              <mdb-card-body>
                <mdb-card-title>
                  <h5 class="font-weight-bold mb-3 text-purple-darker-custom ">Panier</h5>
                  <div *ngIf="cart.orderItems.length===0" class="row">
                    <div class="col-9">
                        <p class="text-grey-custom text-roboto-regular">Votre panier est vide.Commencez à ajouter vos plats prefèrés</p>
                    </div>
                    <div class="col-3">
                        <mdb-icon size="3x" class="text-grey-custom" fas icon="shopping-cart"></mdb-icon>
                    </div>
                  
                </div>
                </mdb-card-title>
            
              </mdb-card-body>
              <table *ngIf="cart" class="table table-hover table-fixed">
      
          
              <!--Table body-->
              <tbody>
                 <tr *ngFor="let item of cart.orderItems;let id=index">
                      <td>
                        <p class="text-titlegrey-custom text-roboto-Medium" >{{item.product }} ({{item.comment}})</p>
                        <p class="text-brown-custom"><a (click)="updateCart(id,-1)" class="text-purple-custom"> <mdb-icon far icon="minus-square"></mdb-icon></a> {{item.quantity}}
                          <a (click)="updateCart(id,+1) " class="text-purple-custom"> <mdb-icon far icon="plus-square"></mdb-icon></a></p>
                      
                        </td>
                        <td>
                            <p class="text-right"><a (click)="deleteFromCart(id)"><mdb-icon fas icon="trash-alt" class="text-purple-custom"></mdb-icon></a></p>
                            <p  class="text-right text-purple-custom text-roboto-regular ">{{(item.price+item.delivs) * item.quantity}} TND</p>
                            </td>
                     
                      
                  </tr>
                  <tr>
                   
                    
                    <th colspan="1" class="text-purple-darker-custom text-roboto-Medium">
                      Total :
                    </th>
                    <td colspan="1" class="text-grey-custom text-roboto-regular"> {{cart.total + cart.totalDelivs}}  TND</td>
                  </tr>
                  <tr>
                      
                      
                    <th colspan="1" class="text-purple-darker-custom text-roboto-Medium">
                      
                      Frais de livraison :
                    </th>
                    <td colspan="1" class="text-grey-custom text-roboto-regular">{{ deliveryFee }} TND</td>
                  </tr>
                  <tr>
                     
                    <th colspan="1" class="text-purple-darker-custom text-roboto-Medium">
                     Total à payer :</th>
                    <td colspan="1" class="text-grey-custom text-roboto-regular"> {{cart.total + cart.totalDelivs +  deliveryFee | number:'1.0-1'}} TND </td>
                  </tr>
                          <th colspan="1" class="text-purple-darker-custom text-roboto-Medium">

              </tbody> 
              <!--Table body-->
          
          </table>
          <div *ngIf="sender && (cart.total + cart.totalDelivs) < sender.minOrder"   class="alert alert-danger btn-purple-custom mr-2 ml-2 mb-1" role="alert">
            Veuillez compléter votre commande pour atteindre le minimum de commande de {{sender.minOrder}} TND
           </div>
              <mdb-card-body class="mx-auto" *ngIf="sender && !sender.closed && setStatus()===false && (cart.total + cart.totalDelivs) >= sender.minOrder">
                <button *ngIf="loginService.isLoggedIn()" class="btn-purple-custom" type="button" mdbBtn  rounded="true" data-toggle="modal" data-target="#basicExample"
                (click)="frame.show()" [class.disabled]="cart.orderItems.length===0" mdbWavesEffect>Valider
        </button>
        <button *ngIf="!loginService.isLoggedIn()" class="btn-purple-custom" type="button" mdbBtn  rounded="true" data-toggle="modal" data-target="#basicExample"
                routerLink="/login" [class.disabled]="cart.orderItems.length===0" mdbWavesEffect>Valider
        </button>
              </mdb-card-body>
            </mdb-card>
      </div>
      </div>
    </div>
    </div>  
</div>

<div style="overflow-y: auto" mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold text-purple-custom">Confirmation</h4>
        <button type="button" class="close text-purple-custom" data-dismiss="modal" aria-label="Close" (click)="frame.hide();confirmed=false">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div  class="modal-body mx-3">
        <div *ngIf="errormessage" class="alert alert-danger" role="alert">
          Votre adresse ne correspond pas à une zone livrable
        </div>
          <h5 class="text-muli-bold-18" >Addresse</h5>
        <div class="md-form mb-5">
            <mdb-icon fas icon="map-marker-alt" class="prefix grey-text"></mdb-icon>
            <input [disabled]="confirmed" type="text" id="form34" class="form-control " mdbInput 
            (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"   #search>
          <label for="form34">Address de livraison</label>
                </div>
      
                      <app-google *ngIf="!confirmed"  [parent]="this" ></app-google>
                      


      
           
                        <div *ngIf="confirmed">
                            <h5 class="text-muli-bold-18" >Résumé</h5>
                            <p *ngFor="let item of cart.orderItems;let id=index" class="text-muli-light-16">
                                {{item.quantity}}   X  {{item.product}} ( {{item.comment}})</p>
                                <hr>
                                <p  class="text-muli-light-16">Total :   {{(cart.total + cart.totalDelivs)}} TND</p>
                                 <p  class="text-muli-light-16"> Frais de livraison :   {{deliveryFee}} TND</p>
                                 <p  class="text-muli-light-16"> Total à payer :   {{(cart.total + cart.totalDelivs) + deliveryFee| number:'1.0-1'}} TND</p>
                       <!--  <div class="mt-5">
                                            <h5 class="text-muli-bold-18" >Type de paiement</h5>
                       <div class="custom-control custom-switch">
                                  <label class="text-muli-light-16">Paiement a la livraison</label>
                                    <input type="checkbox" class="custom-control-input" id="customSwitches" name="payment" [(ngModel)]="payment" [checked]="payment">
                                    <label class="text-muli-light-16 custom-control-label ml-5" for="customSwitches" >Paiement en ligne</label>
                                     </div>
                         </div>   -->
                   
                         
                          
                        </div>                    
      <div class="modal-footer d-flex justify-content-center">
          <button *ngIf="!confirmed"   (click)="confirmAddress()" mdbBtn  class="btn-purple-custom" mdbWavesEffect>Confirmer
        
            </button> 
            <button  *ngIf="confirmed" (click)="commandeValidate()"  mdbBtn  class="btn-purple-custom" mdbWavesEffect>Valider
                <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
              </button>
              <!-- <form id="paymentForm" name="paiment" method="POST" action="https://preprod.gpgcheckout.com/Paiement_test/Validation_paiement.php" style="height: 0px;" >
                <input  type="submit" name= "Valider" value="Valider" style="display: none;" >
                <input type="hidden" name="NumSite" [(ngModel)]="paymentModel.numSite"><br /><br />
                <input type="hidden" name="Password" [(ngModel)]="paymentModel.Password"><br /><br />
                <input type="hidden" name="orderID" [(ngModel)]="paymentModel.orderID"><br /><br />
                <input type="hidden" name="Amount" [(ngModel)]="paymentModel.Amount"><br /><br />
                <input type="hidden" name="Currency" [(ngModel)]="paymentModel.Currency"><br /><br />
                <input type="hidden" name="Language" [(ngModel)]="paymentModel.Language"><br /><br />
                <input type="hidden" name="EMAIL" [(ngModel)]="paymentModel.EMAIL"><br /><br />
                <input type="hidden" name="CustLastName" [(ngModel)]="paymentModel.CustLastName"><br /><br />
                <input type="hidden" name="CustFirstName" [(ngModel)]="paymentModel.CustFirstName"><br /><br />
                <input type="hidden" name="CustAddress" [(ngModel)]="paymentModel.CustAddress"><br /><br />
                <input type="hidden" name="CustTel" [(ngModel)]="paymentModel.CustTel"><br /><br />
                <input type="hidden" name="PayementType" [(ngModel)]="paymentModel.PayementType"><br /><br />
                <input type="hidden" name="orderProducts" [(ngModel)]="paymentModel.orderProducts"><br /><br />
                <input type="hidden" name="signature" [(ngModel)]="paymentModel.signature"><br /><br />
                <input type="hidden" name="vad" [(ngModel)]="paymentModel.vad"><br /><br />
                <input type="hidden" name="Terminal"[(ngModel)]="paymentModel.Terminal"><br /><br />
               
              </form>  --> 
      </div>

    </div>

  </div>
  </div>
</div>

<div mdbModal #frameV="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-notify "  role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="text-titlegrey-custom lead">Commande Validée</p>
      
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="5x" class="mb-3 animated rotateIn text-purple-custom"></mdb-icon>
          <p>Votre commande est validée
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn  class="waves-light btn-purple-custom" mdbWavesEffect routerLink="/home">Continuer vos achats
        </a>
        <a type="button" mdbBtn   class="waves-effect btn-purple-custom-outline" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal" routerLink="/order/inprogress">Suivi Commande</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #productModal="mdbModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="productModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-roboto-Medium  text-purple-custom text-left text-truncate" id="myModalLabel">   {{selectedProduct.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="text-center" ><img *ngIf="selectedProduct.image" class="w-100" height="200" src="{{selectedProduct.image}}"  ></div>
 
<p class="text-roboto-regular-smaller text-grey-custom mt-3">
        {{selectedProduct.description}}
</p>

        <div class="mb-3" *ngFor="let option of selectedProduct.options;let idO=index">
           
                      <div *ngIf="option.buttonType==false">
                            <p class="text-muli-bold-16">{{option.optionName}} :</p>
                          
                            <p class="text-roboto-regular-smaller text-grey-custom text-truncate">{{option.comment}}</p>
                            <!-- Default inline 1-->
                            <div *ngFor="let optionLine of option.optionLines;">
                              
                               <p> <mdb-checkbox [default]="true" [ngModelOptions]="{standalone: false}" [(ngModel)]="optionLine.checked"  class="text-muli-light-16"> {{optionLine.name}} </mdb-checkbox><span class="float-right mt-n1 text-muli-light-16">{{optionLine.price}}  TND</span></p> 
                              
                            </div>
                    
                      </div>
                    
                       <div class="justify-content-center" *ngIf="option.buttonType==true">
                          <p class="text-muli-light-16">{{option.optionName}} :</p>
                        
                          <p class="text-roboto-regular-smaller text-grey-custom text-truncate">{{option.comment}}</p>
                         
                          <div *ngFor="let optionLine of option.optionLines ;let idOL=index">
            
                              <div class="custom-control custom-radio">
                                <p><input type="radio" class="custom-control-input" id="{{optionLine._id}}" name="{{option.optionName}}" (click)="check(idO,idOL)">
                                  <label class="custom-control-label text-muli-light-16" for="{{optionLine._id}}">{{optionLine.name}}</label><span class="float-right text-muli-light-16">{{optionLine.price}} TND</span> </p>
                                </div>
                          </div>
                            </div>
                            
                               </div>
            
                               <div class="form-outline">
                                <label class="form-label text-muli-bold-16" for="preference">Préferences :</label>
                                <textarea class="form-control" id="preference" [(ngModel)]="preference" rows="4"></textarea>
                              </div>
      </div>
      <div class="modal-footer">
          <span class="table-add">
              <button type="button" mdbBtn rounded="true" size="sm" class="btn-pink-custom-outline my-0 " (click)="addtocart(selectedProduct);productModal.hide()">Ajouter au panier</button>
      </span>
      </div>
    </div>
  </div>
</div>