<app-admin-header></app-admin-header>
<div class="container right-side">
    <div class="row">
        <div class="col-md-2" style="padding: 0">
          <app-admin-sidebar></app-admin-sidebar>
            </div>
        <div class="col-md-10">
          
            <div class="container main">  
               <router-outlet></router-outlet> </div> 
        </div>
        
      </div>
    </div>
    <app-admin-footer></app-admin-footer>