
<p class="text-muli-light-26 text-grey-custom text-center">Historique des commandes</p>
<div class=" mt-5">
  <div *ngIf="deliveries.length==0" class="mx-auto">
    
    <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas encore des commandes
        </p>
        
      
  </div>
  <div *ngIf="deliveries.length>0" >
  <div class="justify-content-center align-items-center row "style="margin-bottom: 20px;" >
     
    

          <ul class="stepper stepper-vertical text-center">

                  <li class="active mx-auto" *ngFor="let delivery of deliveries; let id = index ;">

                          <!--Section Title -->
                          <a>
                            <div id="container">
                              <img src="/assets/num-resto.png"/>
                              <p id="text">
                                  {{id+1}}
                              </p>
                            </div>
                            <span class="text-muli-bold-14 text-grey-darker-custom label ml-2 mr-2">{{delivery.deliveryDate| date:'h:mm a dd/MM/yyyy '}}</span>
                          </a>
                  
                          <!-- Section Description -->
                          <div class="step-content">



          <div class="col-md-12 justify-content-center w-100">
            <mdb-card>
              <!--Card image-->
              
              <!--Card content-->
              <mdb-card-body>
            
                <!--Title-->
                <mdb-card-title>
                  <p class="text-purple-lighter-custom text-muli-bold-16 text-center">Code : {{delivery._id | slice:-2}}{{delivery.object | slice:-2}}</p>
                </mdb-card-title>
                <mdb-card-title>
                  <p class="text-purple-lighter-custom text-muli-bold-16">Commande pour {{delivery.recipient}}</p>
                </mdb-card-title>
            
                <mdb-card-text *ngIf="delivery.object">
              <p class="text-muli-regular-16 text-grey-dark-custom mt-2 mb-2" *ngFor="let item of delivery.description" >
                {{item.quantity}} x {{item.product}}
              </p>
            </mdb-card-text>
                <mdb-card-text *ngIf="!delivery.object">
                     <p class="text-muli-regular-16 text-grey-dark-custom"> {{delivery.description}} </p>
                </mdb-card-text>
           
            <mdb-card-text class="border-top border-bottom mb-2">
                <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">{{delivery.total}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>
              
        </mdb-card-text>
        <mdb-card-title  >
          <p style="margin-bottom: 4%;" class="text-purple-lighter-custom text-muli-bold-16 text-center">{{ find(delivery.status) | uppercase}}</p>
        </mdb-card-title>
              </mdb-card-body>
            </mdb-card>
                </div>
      
      
      
      </div>
      </li>

      
      
      
      </ul>
              
              </div>
             

          </div>



