

 <div class="container">
    <div class="row mt-3">
      <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
      <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Commandes  livrées
      </p>
    </div>
      <div class="row">
      <img src="/assets/commandes/header-H.png" class="img-fluid mb-4" alt="Responsive image">
    </div>
   <div  class="row">
      <div class="col-md-4 mt-3 "  *ngFor="let D of deliveries | paginate: { itemsPerPage: 6, currentPage: p } ; let id = index ;">
          <div class="justify-content-center align-items-center "  >
      
              <ul class="stepper stepper-vertical text-center">
      
                      <li   >
                          
                              <!--Section Title -->
                             
                              <a>
                                  <div id="container">
                                      <img src="/assets/commandes/1.png"/>
                                      <p id="text">
                                        {{(p*6 )-6 + (id+1)}}
                                      </p>
                                      
                                    </div>
                                <span class="text-muli-bold-14 text-grey-custom label">{{ D.deliveryDate | date:'h:mm a dd/MM/yyyy' }}</span>
                              </a>
                      
                              <!-- Section Description -->
                              <div class=" w-100">
      
              <div class="col-md-12 justify-content-center">
                      <!--Card-->
                      <mdb-card cascade="true" narrower="true">
                  
                  
                        <mdb-card-body cascade="true" class="text-center">
                            <img src="/assets/commandes/2.png"/>
                          <!--Card content-->
                          <p class="text-muli-bold-16 text-pink-custom">
                            <span *ngIf="D.object" > {{D.sender}} </span>
                            <span *ngIf="!D.object && D.sender" > {{D.sender}}  </span>
                            <span *ngIf="!D.sender" > Votre choix </span>

                          <!--Title-->
                          
                          <p class="card-title text-grey-custom">
                          <span class="text-muli-light-26">{{D.total}}</span> <span class="ml-2 text-muli-light-18">  TND</span>   </p>
                          <!--Text-->
                          <img src="/assets/commandes/4.png"/>
                          <p class="text-muli-bold-14 text-grey-custom"  > Description <mdb-icon (click)="test.toggle()" fas icon="angle-down"></mdb-icon></p>
                         
                          <div mdbCollapse #test="bs-collapse" >
                              <mdb-card-text class="text-muli-light-18 text-gery-custom" *ngIf="!D.object">
                                  {{D.description}}
                                 </mdb-card-text>
                              <mdb-card-text class="text-muli-light-18 text-gery-custom" *ngIf="D.object"> 
                                  <p  *ngFor="let item of D.description" >
                                      {{item.quantity}} x {{item.product}} ( {{item.comment}})
                                    </p>
                                </mdb-card-text>
                          </div>
                          
                          <img src="/assets/commandes/3.png"/>
                          <p class="text-muli-bold-14 text-grey-custom" > Cheminement </p>
                          <p class="text-muli-regular-14 text-grey-custom" > Départ </p>
                          <p class="text-muli-regular-14 text-grey-light-custom d-inline-block text-truncate "  (click)="change($event)" style="max-width: 90%;">
                           {{D.startingPoint}}
                          </p>
                          <p class="text-muli-regular-14 text-grey-custom" > Arrivé </p>
                          <p class="text-muli-regular-14 text-grey-light-custom d-inline-block text-truncate "  (click)="change($event)" style="max-width: 90%;"> 
                                                         {{D.arrivalPoint}}
                          </p>
                        
                           <p class="text-muli-bold-16 text-pink-custom">
                            <span *ngIf="D.status!='delivered' || D.reviewed" > {{find(D.status)}} </span>
                            <a style="padding: 0;display: block;" *ngIf="D.status==='delivered' && !D.reviewed" (click)="selectedDelivery=D;basicModal.show()" >{{find(D.status)}} (Notez) </a>
                           </p>
                         
                  
                  
                        </mdb-card-body>
                        <!--/.Card content-->
                  
                      </mdb-card>
                      <!--/.Card-->
                    </div>
          
          
          
          </div>
          </li>
      
          
          
          
          </ul>
                  </div>
      
                  </div>
   </div> 
   <div class="row mt-5 mb-5"> <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls></div>
   <div *ngIf="deliveries.length==0" class="mx-auto">
    
      <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas encore des commandes
          </p>
          <p class="text-muli-bold-21 text-purple-custom text-center mb-5" routerLink="/home"> Passer une commande (Cliquez ici)
            </p>
        
    </div>
   </div>           
  
<!--  -->



                <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Donnez votre avis </strong> <mdb-icon far icon="grin-wink"></mdb-icon></h4>
                      </div>
                      <div class="modal-body">
                        <div class="mt-1 text-center">
                          <h5 class="text-muli-bold-18" >Notez </h5>
             <div *ngIf="selectedDelivery.object" class="custom-control custom-switch">
                <label class="text-muli-light-16">le restaurant</label>
                  <input type="checkbox" class="custom-control-input" id="customSwitches" name="isdeliveryman" [(ngModel)]="isdeliveryman" [checked]="isdeliveryman">
                  <label class="text-muli-light-16 custom-control-label ml-5" for="customSwitches" >le livreur</label>
                   </div>
                   <ngb-rating  [(rate)]="rate">
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                </div> 
                       
            
                        <div class="md-form ml-4 mr-4 mt-3">
                          <input #commentaire="ngModel" mdbInput type="text" class="form-control" id="comment" name="comment" [(ngModel)]="comment">
                          <label for="comment">Commentaire</label>
                     </div>
                    </div>
                      <div class="modal-footer">
                        <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="basicModal.hide();save()" mdbWavesEffect>Avis</button>
                      </div>
                    </div>
                  </div>
                </div>
                



        