
<div class="bg">
  <div class="container"> 
    
    <div>
      <br><br>
    <h1 class="text-purple-darker-custom text-anton-bold-36" routerLink="/order/custom"> Commande personnalisée</h1>
    <h4 class="text-purple-darker-custom text-muli-light-24"> Commandez votre plat depuis votre restaurant préféré </h4>
    </div>

    <div class="container justify-content-center align-items-center ml-5">
    
  
      <div class="justify-content-center mb-5 d-none d-md-block">
        <div class="col-md-10 ml-5">
      
          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-horizontal">
      
            <!-- First Step -->
            <li  routerLink="/order/custom">
              <a >
                  <mdb-icon fas icon="map-marked-alt text-purple-custom"  size="3x"></mdb-icon><p> </p>          
                  <span class="label text-muli-bold-21 text-purple-custom" > Choisissez votre restaurant</span>
              </a>
            </li>
      
            <!-- Second Step -->
            <li routerLink="/order/custom">
              <a >
                  <mdb-icon fas icon="utensils text-purple-custom"  size="3x"></mdb-icon><p> </p>          
                  <span class="label text-muli-bold-21 text-purple-custom" >Commandez votre plat</span>
              </a>
            </li>
      
            <!-- Third Step -->
            <li routerLink="/order/custom">
              <a >
                  <mdb-icon fas icon="stopwatch text-purple-custom" size="3x"></mdb-icon><p> </p>  
                  <span class="label text-muli-bold-21 text-purple-custom"  >Suivez votre commande</span>
              </a>
      
            </li>

               <!-- 4 Step -->
               <li  routerLink="/order/custom">
                <a >
                    <mdb-icon far icon="thumbs-up text-purple-custom" size="3x"></mdb-icon><p> </p>  
                    <span class="label text-muli-bold-21 text-purple-custom"  >Bon appétit</span>
                </a>
        
              </li>


      
      </ul>
          <!-- /.Stepers Wrapper -->
        </div>
      </div>
    
    </div>
    </div>

    <div class="container"> 
    
    <div>
      <br><br>
    <h1 class="text-purple-darker-custom text-anton-bold-36" > {{title}}</h1>
    </div>
    </div>
    <div class="container justify-content-center align-items-center">
      <div class="row">
        <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5" 
        style="margin-bottom: 20 px;" *ngFor="let sender of senders| paginate: { itemsPerPage: 6, currentPage: p };let id=index">
    <div  class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <a routerLink="/restaurant/{{sender._id}}/{{sender.name}}">
            <img *ngIf="sender.banner" class="card-img-top"  src="{{sender.banner}}" alt="Card image cap" height="200px" />
          <img *ngIf="!sender.banner" class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
         
         
        
          <div *ngIf="sender.closed" class="mask flex-center waves-effect waves-light rgba-black-strong" style="opacity: 1;">
            <p class="white-text">Fermé</p>
          </div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade">
      
          <!-- Label -->
          <h5 class="text-brown-custom pb-2 pt-1 d-inline-block text-truncate text-purple-custom text-muli-semi-bold-16" (click)="change($event)" style="max-width: 90%;"><i class="fas fa-map-marker-alt"></i> {{sender.address}}</h5>
      <!--     <div class="ml-1" style="opacity: 1;" *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) < 0.030 ">
            <p class="text-purple-dark-custom text-muli-bold-16">30-40 min</p>
          </div>
          <div class="ml-1" style="opacity: 1;" *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.030 && calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) <= 0.049 " >
            <p class="text-purple-dark-custom text-muli-bold-16">40-50 min</p>
          </div>
          <div class="ml-1" style="opacity: 1;" *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.050 && calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) <= 0.069 " >
            <p class="text-purple-dark-custom text-muli-bold-16">45-55 min</p>
          </div>
          <div class="ml-1" style="opacity: 1;" *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.070" >
            <p class="text-purple-dark-custom text-muli-bold-16">45-60 min</p>
          </div> -->
          <!-- Title -->
          <h4 class="text-Oswald-med card-title text-purple-dark-custom text-anton-regular-24 text-truncate"> {{sender.name}} </h4>
          <!-- Text -->
          <p class="text-roboto-regular-smaller text-grey-custom text-truncate" >
            <mdb-icon far icon="star"></mdb-icon> {{average[id]}}
          </p>
          <!-- Button -->
<!--           <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16" routerLink="/restaurant/{{sender._id}}/{{sender.name}}"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>Voir Menu {{this.distanc(sender.coordinates.longitude,sender.coordinates.latitude)}}</button>
  getDistance(x2: number, y2: number) {
 -->    
<!--  <div *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) < 0.030 ">
  <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>30-40 min {{calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude)}}</button>   
</div>
<div *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.030 && calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) <= 0.049 ">
  <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>40-50 min {{calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude)}}</button>   
</div>
<div *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.050 && calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) <= 0.069 ">
  <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>45-55 min {{calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude)}}</button>   
</div>
<div *ngIf="calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude) >= 0.070">
  <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>45-60 min {{calculateDistance(sender.coordinates.latitude,sender.coordinates.longitude)}}</button>   
</div>  -->

        </div>
      </div>
    </div>
  </div>
    <div *ngIf="senders && senders.length!==0" class="row mt-5 mb-5"> <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls></div>
   
    </div>

<div class="container justify-content-center align-items-center " >
    <div class="row ">
      
    <!-- Card -->
    <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
        <mdb-card style="background-image: url('./../../../assets/home/livreur.png')"
        class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div style="margin-top: 40%;">

    <h3 class="card-title pt-2"><strong>Livreur</strong></h3>
    <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/deliveryman">En savoir plus</button>
   
  </div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
  </div>
  <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
      <mdb-card style="background-image: url('./../../../assets/home/restaurant.png')"
      class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

  <h3 class="card-title pt-2"><strong>Restaurant</strong></h3>
  <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/restaurant">En savoir plus</button>
 
</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div>
<div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
    <mdb-card style="background-image: url('./../../../assets/home/carriere.png')"
    class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

<h3 class="card-title pt-2"><strong>Carrière</strong></h3>
<button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14">En savoir plus</button>

</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div> 
    <!-- Card -->

  
    </div>
  </div>





    


    
    
    
   
    
        