<!-- Extended material form grid -->
<h1 class="display-4  mb-3 text-center" style="color: #3F729B">Gestion du frais du livraison</h1>
<form #form="ngForm">

  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 text-center mx-auto">
      <!-- Material input -->
      <div class="md-form form-group">
            <input  required #orderLimit="ngModel" [(ngModel)]="delievryFee.orderLimit"  name="orderLimit" mdbInput type="text" id="orderLimit" class="form-control">
            <label for="orderLimit" class="">Limite du commande (KM) </label>
            <mdb-error *ngIf="orderLimit.invalid && (orderLimit.dirty || orderLimit.touched)">
              frais Obligatoire
            </mdb-error>
      </div>
    </div>
    <!-- Grid column -->
</div> 
<div class="row">

  <!-- Grid column -->
  <div class="col-md-4 text-center mx-auto">
    <!-- Material input -->
    <div class="md-form form-group">
          <input  required #priceKm="ngModel" [(ngModel)]="delievryFee.priceKm"  name="priceKm" mdbInput type="text" id="priceKm" class="form-control">
          <label for="priceKm" class="">Prix par KM (DT) </label>
          <mdb-error *ngIf="priceKm.invalid && (priceKm.dirty || priceKm.touched)">
            frais Obligatoire
          </mdb-error>
    </div>
  </div>
  <!-- Grid column -->
</div>      
  <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #feeDT="ngModel" [(ngModel)]="delievryFee.feeDT"  name="feeDT" mdbInput type="text" id="feeDT" class="form-control">
                    <label for="feeDT" class="">Mimimum frais du livraison (DT) </label>
                    <mdb-error *ngIf="feeDT.invalid && (feeDT.dirty || feeDT.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 text-center mx-auto">
          <!-- Material input -->
          <div class="md-form form-group">
                <input  required #deliveryLimit="ngModel" [(ngModel)]="delievryFee.deliveryLimit"  name="deliveryLimit" mdbInput type="text" id="deliveryLimit" class="form-control">
                <label for="deliveryLimit" class="">Limite de livraison (KM) </label>
                <mdb-error *ngIf="deliveryLimit.invalid && (deliveryLimit.dirty || deliveryLimit.touched)">
                  Limite de livraison Obligatoire
                </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
  </div>
      <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #profitPercentage="ngModel" [(ngModel)]="delievryFee.profitPercentage"  name="profitPercentage" mdbInput type="text" id="profitPercentage" class="form-control">
                    <label for="profitPercentage" class="">Pourcentage du gain pour Delivs (%)</label>
                    <mdb-error *ngIf="profitPercentage.invalid && (profitPercentage.dirty || profitPercentage.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #limit="ngModel" [(ngModel)]="delievryFee.limit"  name="limit" mdbInput type="text" id="limit" class="form-control">
                    <label for="limit" class="">Rayon d'affichage des restaurants (KM)</label>
                    <mdb-error *ngIf="limit.invalid && (limit.dirty || limit.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>

    <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 text-center">
              <!-- Material input -->
              <div class="md-form form-group">
                    <button [class.disabled]="form.invalid" (click)="save()" *ngIf="deliveryFeeCount===0" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Enregistrer</button>
                    <button [class.disabled]="form.invalid" (click)="update()" *ngIf="deliveryFeeCount===1" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Enregistrer</button>

              </div>
            </div>
            <!-- Grid column -->
      </div>
</form>