<h1 class="display-4  mb-5 text-center" style="color: #3F729B">La liste des livreurs</h1>
<div class="md-form">
  <input (keyup)="search($event.target.value)" type="text" id="search" class="form-control" aria-label="Text input with dropdown button" mdbInput>
  <label for="search">Recherche</label>

</div>
<table mdbTable  class="text-center">
        <thead class="unique-color white-text">
    <tr>
    <th class="text-center"><strong>#</strong></th>
    <th class="text-center"><strong>Nom et Prenom</strong>   </th>
    <th class="text-center"><strong>Email</strong></th>
    <th class="text-center"><strong>Numero de telephone</strong></th>
    <th class="text-center"><strong>Verifié</strong></th>
    <th class="text-center"><strong>Confirmé</strong></th>
    <th class="text-center"><strong>Bloqué</strong></th>
    <th class="text-center"><strong>Action</strong></th>
    <th class="text-center"><strong>Status</strong></th>
    <th class="text-center"><strong></strong></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let deliveryMan of deliveryMen| paginate: { itemsPerPage: 10, currentPage: p };let id=index">
    <td>
      <span> {{(p*10 )-10 + (id+1)}}</span>
    </td>
    <td>
      <span>{{deliveryMan.firstName }} {{deliveryMan.lastName }}</span>
    </td>
    <td>
        <span> {{deliveryMan.email }}</span>
      </td>
      <td>
          <span> {{deliveryMan.phoneNumber }}</span>
        </td>
        <td>
          <span *ngIf="deliveryMan.verified">Oui</span>
         <span *ngIf="!deliveryMan.verified">Non</span> 
       </td>
    <td>
       <span *ngIf="deliveryMan.active">Oui</span>
      <span *ngIf="!deliveryMan.active">Non</span> 
    </td>
    <td>
        <span *ngIf="!deliveryMan.available">Oui</span>
       <span *ngIf="deliveryMan.available">Non</span> 
     </td>
 
    <td>
      <span class="table-remove">
        <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0" data-toggle="modal" data-target="#basicExample"  routerLink="/admin/deliveryman/{{deliveryMan._id}}" mdbWavesEffect ><mdb-icon fas icon="list"></mdb-icon></button>
        <button (click)="deleteId=deliveryMan._id;frame.show()" type="button" mdbBtn color="danger" size="sm"  mdbWavesEffect><mdb-icon far icon="trash-alt"></mdb-icon></button>
      </span>
</td>
<td>
  <span *ngIf="deliveryMan.connectionInfo && deliveryMan.connectionInfo.connected"><mdb-icon fas class="green-text" size=2x icon="genderless"></mdb-icon>   </span>
  <span *ngIf="!deliveryMan.connectionInfo || !deliveryMan.connectionInfo.connected"><mdb-icon fas class="red-text" size=2x  icon="genderless"></mdb-icon></span> 
 </td>
 <td>
  <span *ngIf="deliveryMan.connectionInfo && deliveryMan.connectionInfo.connected">{{deliveryMan.connectionInfo.connectionSource}}  </span>
 </td>
   </tr>
</tbody>
</table>
<div  class="row mt-5 mb-5"> 
  <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
  nextLabel="Suivant"></pagination-controls></div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Confirmations</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Voulez vous supprimer ce livreur ?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="delete();frame.hide()">Oui
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Non</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
