<div class="bg">

    <div class="container "> 
    
    <div class="font-weight-bold">
    <h1 class="text-center mt-2 text-muli-light-26 text-grey-custom"> Livraison En Cours  </h1>
    </div>

    </div>
    <div class="container justify-content-center align-items-center"style="margin-top:3%;">
      <div class="row">
          <div *ngIf="Delivery.length==0" class="mx-auto">
    
              <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas de livraison en cours
                  </p>
                
                
            </div>
        <div *ngFor="let D of Delivery ; let id = index ;" class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mb-5" style="margin-bottom: 20 px;">
           
            
          <mdb-card>
                <!--Card image-->
             <!--    <mdb-card-img class="image" *ngIf="D.sender" src="{{D.sender.banner}}"  alt="Card image cap"></mdb-card-img>
                <mdb-card-img class="image" *ngIf="!D.sender" src="assets/pizza.PNG"  alt="Card image cap"></mdb-card-img> -->
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  
                  <mdb-card-title>
                    <p class="text-muli-semi-bold-18 text-pink-custom text-center">
                   {{find(D.status)}}     
                   <a *ngIf="D.status==='onWay'"    rounded="true" data-toggle="modal" data-target="#basicExample" (click)="selectedId=D._id;framee.show()"
                   >(Livré  <mdb-icon far icon="thumbs-up"></mdb-icon>)</a>
                   <a *ngIf="D.status==='affected'"    rounded="true" data-toggle="modal" data-target="#basicExample" (click)="selectedId=D._id;frameUpdate.show()"
                   >(Maj)</a> 
                   <a *ngIf="D.status==='accepted'"    rounded="true" data-toggle="modal" data-target="#basicExample" (click)="deliver(D._id)"
                   >(récupérer)</a>             </p>
                      <p class="text-muli-semi-bold-16 text-grey-darker-custom">{{D.createdAt | date:'medium'}}</p>
                      <p *ngIf="D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender.name}} </p>
                      <p *ngIf="D.sender && !D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender}} </p>
                      <p class=" " *ngIf="!D.sender">
                        <span class="text-muli-regular-16 text-grey-dark-custom ">Restaurant :</span>
                        <span class="text-muli-regular-22 text-grey-darker-custom">Choix du client</span> </p>
                      <p class="text-muli-regular-16 text-grey-dark-custom text-center"> Code : {{D._id | slice:-2}}{{D.object | slice:-2}} </p>
                      <p class="text-muli-regular-16 text-grey-dark-custom"><mdb-icon far icon="address-card"></mdb-icon> {{D.recipient}} </p>
                      <p class="text-muli-regular-16 text-grey-dark-custom">Détails de la commade :
                          <button class="lien" type="button" mdbBtn color="link" style="color: #fb72c4!important;" (click)="test.toggle()"  mdbWavesEffect>voir</button>
                      </p>

                        <div class="text-muli-regular-16 text-grey-dark-custom" mdbCollapse #test="bs-collapse">
                            <span *ngIf='D.object'>
                                <div *ngFor="let item of D.description" >
                                  {{item.quantity}} x {{item.product}} - {{item.comment}} 
                                </div>
                              </span>
                              <span *ngIf="!D.object">{{D.description }}  </span>
                        </div>

                </mdb-card-title>
                <mdb-card-text class="border-top border-bottom">
                    <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Gain : {{D.deliveryFee}} </span><span class="text-muli-regular-12 text-grey-custom mr-1">TND</span>
                      <span class="text-muli-regular-18 text-grey-custom">Restaurant : {{D.price}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span>
                    </p>
                    <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Delivs : 
                      <span *ngIf="!D.delivsFee">{{D.total-(D.deliveryFee+D.price) | number}} </span>
                      <span *ngIf="D.delivsFee">{{D.delivsFee | number}} </span>
                    </span><span class="text-muli-regular-12 text-grey-custom mr-1">TND</span>
                      <span class="text-muli-regular-18 text-grey-custom">Total : {{D.total}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>

                  </mdb-card-text>
              <mdb-card-title>
                  <h4></h4>  

              
            </mdb-card-title>
            <mdb-card-text  ><h6 class="text-purple-custom pb-2 pt-1"> <a (click)="selectedId=D._id;Mapframe.show()"><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>
              <span>Voir Adresse
             </span></a>
            </h6>                
           </mdb-card-text>
         <div mdbModal #Mapframe="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
                   aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold text-grey-darker-custom text-muli-bold-24">Adresses</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Mapframe.hide();selectedId=''">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-3">
                        <h5 (click)="change($event)" style="max-width: 75%;" class="pink-text pb-2 pt-1 d-inline-block text-truncate"><mdb-icon class="mr-2 text-purple-custom" fas icon="map-marker-alt"></mdb-icon>
                          <span class="text-muli-bold-18 text-purple-custom">De:</span>
                           <span class="text-muli-regular-16 text-purple-custom">{{D.startingPoint}}
                          </span></h5>               
            <br>
    
                          <h5 (click)="change($event)" style="max-width: 75%;" class="pink-text pb-2 pt-1 d-inline-block text-truncate"><mdb-icon class="mr-2 text-purple-custom" fas icon="map-marker-alt"></mdb-icon>
                            <span class="text-muli-bold-18 text-purple-custom">A:</span>
                               <span class="text-muli-regular-16 text-purple-custom">{{D.arrivalPoint }}
                              </span></h5>
                  <app-google *ngIf="selectedId===D._id" [type]="true" [value]="D"  [parent]="this" ></app-google>
              
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <button (click)="Mapframe.hide();selectedId=''" mdbBtn  class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect>Fermer</button>
                    </div>
                  </div>
                </div>
              </div> 
                          
                  
    

                
                <div mdbModal #framee="mdbModal" class="modal fade top" id="frameModalTope" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <!--Content-->
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-pink-custom text-muli-bold-24">Continuer</h4>
                      
                
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="framee.hide()">
                          <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                      </div>
                     
                      <!--Body-->
                      <div class="modal-body">
                        <div class="text-center">
                          <mdb-icon fas icon="check" size="4x" class="mb-3 text-purple-custom animated rotateIn"></mdb-icon>
                          <p class="text-muli-bold-18 text-purple-custom">Commande livré avec succès </p>
                        </div>
                      </div>
                
                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <a (click)="delivered();framee.hide()" type="button" outline="true" mdbBtn class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect>oui
                        </a>
                        <a  type="button" mdbBtn  outline="true" class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect (click)="framee.hide()">non</a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
                            
                
                </mdb-card-body>
              </mdb-card>
    
    </div>
    </div> 
    

</div> 
<div mdbModal #frameUpdate="mdbModal" class="modal fade top" id="frameModalTope" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold text-pink-custom text-muli-bold-24">Changement du prix</h4>
    

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frameUpdate.hide()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
   
    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <div class="md-form form-group">
          <input mdbInput type="text" pattern="[0-9.]{1,}$" class="form-control text-muli-regular-18 text-grey-custom" [(ngModel)]="price"  required>
        <label for="price" class=" text-muli-regular-14 text-grey-light-custom">Nouveau prix</label>
        </div>
       
      </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a (click)="update();frameUpdate.hide()" type="button" outline="true" mdbBtn class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect>Avec Maj
      </a>
      <a  type="button" mdbBtn  outline="true" class="waves-light text-muli-bold-18 btn-pink-custom " mdbWavesEffect (click)="frameUpdate.hide();confirm()">sans Maj</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>
    
    
         
             

    
