
.sidebar{
    height: 100%;
    padding: 0;
}
  /*  button style */
  // new
  .border-color {
      color: #9346b7!important;
  }

  .btn-grey-custom,.btn-grey-custom:hover{
    color: #ffffff!important;
    background-color: #b3b1c3!important;
    border:  2px solid #b3b1c3!important;
    font-weight: bold;
}
  .btn-purple-custom-outline {
    color: #6861e1!important;
    background-color: #ffffff!important;
    border:  2px solid #6861e1!important;
    font-weight: bold!important;
}
.btn-purplex2-custom {
    color:#ffffff!important;
    background-color: #9346b7!important;
    border:  2px solid #9346b7!important;
    font-weight: bold!important;
}

.btn-purple-custom,.btn-purple-custom:hover,.btn-purple-custom-outline :hover{
    color: #ffffff!important;
    background-color: #6861e1!important;
    border:  2px solid #6861e1!important;
    font-weight: bold!important;
}
.btn-purple-light-custom-outline {
    color: #ba74db!important;
    background-color: #ffffff!important;
    border:  2px solid #ba74db!important;
    font-weight: bold!important;
}
.btn-purple-light-custom,.btn-purple-light-custom:hover,.btn-purple-light-custom-outline:hover{
    color: #ffffff!important;
    background-color: #ba74db!important;
    border:  2px solid #ba74db!important;
    font-weight: bold!important;
}
.btn-pink-custom-outline {
    color: #fb72c4!important;
    background-color: #ffffff!important;
    border:  2px solid #fb72c4!important;
    font-weight: bold!important;
}
.btn-pink-custom,.btn-pink-custom:hover,.btn-pink-custom-outline:hover{
    color: #ffffff!important;
    background-color: #fb72c4!important;
    border:  2px solid #fb72c4!important;
    font-weight: bold!important;
}
.btn-white-custom-outline,.btn-white-custom-outline:hover {
    color: #ffffff!important;
    background-color: transparent;
    border:  2px solid #ffffff!important;
    font-weight: bold!important;
}
  // old
.btn-orange-custom {
    color: #e67e22!important;
    background-color: #ffffff!important;
    border:  1px solid #e67e22!important;
    font-weight: bold;
    border-width:2px; 
}
.btn-orange-custom i {
    font-weight: bold
}
.btn-orange-custom:hover {
    color:#ffffff!important;
    background-color: #e67e22!important;
    border-color:  #e67e22!important;
}
.btn-brown-custom-outline {
    color: #7b241c!important;
    background-color: #ffffff!important;
    border:  2px solid #7b241c!important;
    font-weight: bold;
}
.btn-brown-custom i {
    font-weight: bold
}
.btn-brown-custom, .btn-brown-custom:hover {
    color:#ffffff!important;
    background-color: #7b241c!important;
    border-color:  #7b241c!important;
}
  /*  image style */
.image .img-fluid {
    height: 200px!important;
  }

/* home pagination style */
.ngx-pagination .current{
    background-color: #7b7a98!important;
}
.ngx-pagination li{
    border-radius: 50%!important;
}
/* text font family */
// old
.text-roboto-regular{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400!important;
}
.text-roboto-regular-14{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400!important;
    font-size: 14px!important;
}
// new
.text-roboto-condensed{
    font-family: 'Roboto Condensed', sans-serif!important;
}
.text-muli-light-16{
    font-family: 'Muli', sans-serif!important;
    font-weight: 300!important;
    font-size: 16px!important;
}
.text-muli-light-18{
    font-family: 'Muli', sans-serif!important;
    font-weight: 300!important;
    font-size: 18px!important;
}
.text-muli-light-26{
    font-family: 'Muli', sans-serif!important;
    font-weight: 300!important;
    font-size: 26px!important;
}
.text-muli-regular-32{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 32px!important;
}
.text-muli-regular-22{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 22px!important;
}
.text-muli-regular-18{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 18px!important;
}
.text-muli-regular-16{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 16px!important;
}
.text-muli-regular-14{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 14px!important;
}
.text-muli-regular-12{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 12px!important;
}
.text-muli-regular-10{
    font-family: 'Muli', sans-serif!important;
    font-weight: 400!important;
    font-size: 10px!important;
}
.text-muli-semi-bold-14{
    font-family: 'Muli', sans-serif!important;
    font-weight: 600!important;
    font-size: 14px!important;
}
.text-muli-semi-bold-16{
    font-family: 'Muli', sans-serif!important;
    font-weight: 600!important;
    font-size: 16px!important;
}
.text-muli-semi-bold-18{
    font-family: 'Muli', sans-serif!important;
    font-weight: 600!important;
    font-size: 18px!important;
}
.text-muli-bold-14{
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 14px!important;
}
.text-muli-bold-16{
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 16px!important;
}
.text-muli-bold-18{
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 18px!important;
}
.text-muli-bold-21{
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 21px!important;
}
.text-muli-bold-24{
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 24px!important;
}
.text-muli-extra-bold-24{
    font-family: 'Muli', sans-serif!important;
    font-weight: 800!important;
    font-size: 24px!important;
}
.text-anton-regular-24{
    font-family: 'Anton', sans-serif!important;
    font-weight: 400!important;
    font-size: 24px!important;
}
.text-anton-bold-36{
    font-family: 'Anton', sans-serif!important;
    font-weight: 700!important;
    font-size: 36px!important;
}
/* text color */

// new
.text-purple-darker2-custom{
    color: #9346b7!important
}

.text-purple-lighter-custom{
    color: #ba74db!important;
}
.text-purple-light-custom{
    color: #7a77f1!important;
}
.text-purple-custom{
    color: #6861e1!important;
}
.text-purple-dark-custom{
    color: #484570!important;
}
.text-purple-darker-custom{
    color: #474470!important;
}

.text-pink-custom{
    color: #fb72c4!important;
}
.text-pink-dark-custom{
    color: #d64b9e!important;
}
.text-grey-custom{
    color: #878691!important;
}
.text-grey-darker-custom{
    color: #45445a!important;
}
.text-grey-dark-custom{
    color: #767484!important;
}
.text-grey-light-custom{
    color:#aba9b5!important
}
.md-form label{
    color:#aba9b5!important
}
.text-white-custom{
    color: #ffffff!important;
}

/* backround color */
.grey-back-color{
background-color: #7b7a98
}
grey-purple-color{
background-color: #6861e1
        }
grey-pink-color{
background-color: #fb72c4
        }
                
.pac-container {
    z-index: 1051 !important;
  }
        