
<div class="w-100" >

  <!--Main Navigation-->
  <header class="d-none d-lg-block intro-header">
  
  
  
    <!--Intro Section-->
    <section class="view intro-2">
      <div class="full-bg-img mask">
        <div class=" flex-center">
          <div class="d-flex align-items-center content-height w-50">
            <div class="row flex-center w-100">
  
              <div class="col-lg-8 col-xl-8 "style="margin-right:10%">
                <!--Form-->
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s" style="box-shadow: none;background-color: transparent">
                  <mdb-card-body>
                    <!--Header-->
                    <div *ngIf="!new" class="text-center">
                      <img src="assets/deliveryman-signin/signin-icone.png" class="mx-auto">
                      <h4  class="modal-title w-100 font-weight-bold text-muli-bold-21 text-pink-dark-custom ">Se connecter</h4>
                    </div>
                    <div *ngIf="new" class="text-center">
                        <img src="assets/deliveryman-signin/signup-icone.png" class="mx-auto">
                        <h4   class="modal-title w-100 font-weight-bold ext-muli-bold-21 text-pink-dark-custom">S'inscrire</h4>
     
                      </div>
                    <!--Body-->
                    <div *ngIf="!new && signInForm" class="mx-3">
                      
                      <div *ngIf="message===6" class="alert alert-success mt-1" role="alert">
                          Votre inscription est terminée. veuillez confirmer votre adresse Email. Si vous n’avez pas reçu l'email de confirmation :
                          vérifiez dans votre dossier spam
                      </div> 
                      <div *ngIf="message===1" class="alert alert-danger mt-1" role="alert">
                        Email ou mot de passe invalide
                    </div> 
                      <div *ngIf="message===4" class="alert alert-danger" role="alert">
                          Votre compte n'est pas encore confirmé , vérifiez votre boite mail pour le confirmer
                        </div>
                      <div class="md-form mb-5">
                        <input type="email" id="defaultForm-email" [formControl]="getSignInFormEmail" class="form-control"
                        mdbInput mdbValidate>

                        <label for="defaultForm-email" class="text-muli-regular-14 text-gery-light-custom" >Email</label>
                        <mdb-error
                          *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
                          Email invalide
                        </mdb-error>
                      
                      </div>
                    
                      <div class="md-form mb-5">
                        <div class="input-group">
  
                        <input [type]="fieldTextType ? 'text' : 'password'" id="defaultForm-pass" [formControl]="getSignInFormPassword" class="form-control"
                               mdbInput mdbValidate>
                        <label  for="defaultForm-pass"  class="text-muli-regular-14 text-gery-light-custom">Mot de passe </label>
                        <div class="input-group-append">
  
                          <span class="input-group-text border-0" style="background-color:transparent;">
                            <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"
                          ></i>                        </span></div>
                       
                        <mdb-error
                          *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
                          Mot de passe Obligatoire
                        </mdb-error>
                        </div>
                       
                      </div>
                      <div class="d-flex justify-content-around">
     
                        <div>
                          <!-- Forgot password -->
                          <a (click)="generatePassword()">Mot de passe oublié ?</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button *ngIf="!new" [class.disabled]="signInForm.invalid" (click)="signin()"  mdbBtn  class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>Se connecter</button>
                    
                      </div>
                      <hr>
                      <div class="text-center">
                    <p>ou se connecter avec:</p>
                    <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','IN')"></mdb-icon> 
                   <mdb-icon class="text-pink-dark-custom"  fab icon="google-plus-g" (click)="signWithSocial('GO','IN')"></mdb-icon>
                    </div>
                    </div>
                    
                    <div *ngIf="new && signUpForm"  class=" mx-3">
                      <div *ngIf="message===2" class="alert alert-danger mt-1" role="alert">
                        Email existe Deja
                    </div>
                    <div *ngIf="message===3" class="alert alert-danger mt-1" role="alert">
                      Email invalide, vérifiez votre addresse mail SVP
                    </div>
                    <div *ngIf="message===9" class="alert alert-danger mt-1" role="alert">
                      mot de passe invalide, vérifiez votre addresse mail SVP
                    </div>
                    <div *ngIf="message===5" class="alert alert-danger mt-1" role="alert">
                      votre inscription a echoué:
                      vérifiez la piece jointe que vous avez inseré
                      </div> 
                           <!-- Default switch -->
                              <!-- Default checked -->
                              <div class="form-row">
                                <div class="col">
                    
                            <div class="md-form mt-1 mb-4 ">
                                
                                <input type="text" id="lastName" required pattern="[a-zA-Z]{2,}$" class="form-control" [formControl]="getSignupFormLastName"
                                       mdbInput mdbValidate>
                                <label class="text-muli-regular-14 text-gery-light-custom" for="lastName">Votre Nom</label>
                                <mdb-error *ngIf="getSignupFormLastName.invalid && (getSignupFormLastName.dirty || getSignupFormLastName.touched)">
                                  Nom Obligatoire
                                </mdb-error>
                               
                              </div> 
                            </div>
                            <div class="col">
                              
                      <div class="md-form mt-1 mb-4">
                        <input type="text" id="orangeForm-name" required pattern="[a-zA-Z]{2,}$" class="form-control" [formControl]="getSignupFormName"
                               mdbInput mdbValidate>
                    
                        <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name">Votre Prenom</label>
                    
                        <mdb-error *ngIf="getSignupFormName.invalid && (getSignupFormName.dirty || getSignupFormName.touched)">
                          Prenom Obligatoire
                        </mdb-error>
                       
                      </div>
                    </div></div>
                    <div class="form-row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="md-form mt-1 mb-4 ">
                            <input type="text" id="orangeForm-Tel" required pattern="[0-9]{8,8}$" maxlength="8" minlength="8" class="form-control" [formControl]=" getSignUpFormTel"
                                   mdbInput mdbValidate>
                            <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-Tel">Numero Tél</label>
                            <mdb-error
                              *ngIf=" getSignUpFormTel.invalid && ( getSignUpFormTel.dirty ||  getSignUpFormTel.touched)">
                              Numero Tél Obligatoire
                            </mdb-error>
                            
                            </div>
                          </div>
                     <!--    <div class="col-lg-12  col-xl-7">
                    <div class="md-form mt-1 mb-4 form-group input-group ">
                    
                    <input type="text" id="orangeForm-Cin" required pattern="[0-9]{8,8}$" maxlength="8" minlength="8" class="form-control" [formControl]="getSignUpFormCin"
                           mdbInput mdbValidate>
                           <div class="input-group-append file-field">
                              <div class="text-muli-regular-10 btn btn-grey-custom btn-sm mb-0 float-left waves-effect waves-light">
                                <span><mdb-icon fas icon="upload" ></mdb-icon></span>
                                <input class="file" type="file" (change)="selectFile($event)">
                              </div>
                              <div class="file-path-wrapper">
                                <input  class="file-path form-control" style="display: none;" type="text" required  [formControl]="getSignUpFormCinImage"
                                mdbInput mdbValidate disabled>
                              </div>
                            </div>
                    <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-pass">Votre cin</label>
                    <mdb-error
                      *ngIf="getSignUpFormCin.invalid && (getSignUpFormCin.dirty || getSignUpFormCin.touched)">
                      CIN Obligatoire
                    </mdb-error>
                    
                    </div>
                  </div> -->
                  
                    
                   </div>
                 
                  <div class="form-row">
                    
                  <div class="col-md-12">
                      <div class="md-form mt-1 mb-4 ">
                          <input type="text" id="address" class="form-control" [formControl]="getSignupFormAddress"
                                 mdbInput mdbValidate>
                          <label class="text-muli-regular-14 text-gery-light-custom"  for="orangeForm-name">Votre Adresse</label>
                    
                          <mdb-error *ngIf="getSignupFormAddress.invalid && (getSignupFormAddress.dirty || getSignupFormAddress.touched)">
                            Adresse Obligatoire
                          </mdb-error>
                         
                        </div></div>
                </div>
                  
                        <div class="form-row">
                            <div class="col">
                      <div class="md-form mt-1 mb-4 ">
                        <input type="email" id="orangeForm-email" class="form-control" [formControl]="getSignupFormEmail"
                               mdbInput mdbValidate (focusout)="check()">
                        <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-email">Votre email</label>
                        <mdb-error
                          *ngIf="getSignupFormEmail.invalid && (getSignupFormEmail.dirty || getSignupFormEmail.touched)">
                          Email Invalid
                        </mdb-error>
                       
                      </div>
                    </div></div>
                    <div class="form-row">
                        <div class="col">
                      <div class="md-form mt-1 mb-4 input-group">
                        <input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(0)" autocomplete="new-password" [type]="fieldTextType ? 'text' : 'password'" id="orangeForm-pass" class="form-control" [formControl]="getSignupFormPassword"
                               mdbInput mdbValidate>
                        <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-pass">Votre mot de passe</label>
                        <div class="input-group-append">
  
                          <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType()">
                            <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                           
                          ></i>                        </span></div>
                        <mdb-error
                          *ngIf="getSignupFormPassword.invalid && (getSignupFormPassword.dirty || getSignupFormPassword.touched)">
                          Mot de passe Obligatoire
                        </mdb-error>
                        
                      </div></div>
                      <div class="col">
                        <div class="md-form mt-1 mb-4 input-group">
                        <input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(1)"
                           autocomplete="new-password" passwordValidator [formControl]="getSignupFormPasswordC" mdbInput
                            mdbValidate name="passwordConfirmation" [type]="fieldTextType1 ? 'text' : 'password'" id="defaultRegisterFormPasswordC"  class="form-control" >
                            <label class="text-muli-regular-14 text-gery-light-custom" for="defaultRegisterFormPasswordC">répéter  mot de passe</label>
                            <div class="input-group-append">
  
                              <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType1()">
                                <i
                                class="fa"
                                [ngClass]="{
                                  'fa-eye-slash': !fieldTextType1,
                                  'fa-eye': fieldTextType1
                                }"
                                
                              ></i>                        </span></div>
                        <mdb-error
                        *ngIf="message === 7">
                        Les mots de passe saisis ne sont pas identiques. 
                        </mdb-error>
                      </div>
                        </div>
                    </div>
                      <div class="form-row">
                        <div class="col mt-3">
                          <mdb-checkbox [default]="true" [(ngModel)]="checkbox">J'ai lu et accepté les Termes et conditions et <a target="_blank" routerLink="/confidentiality"> la Politique de confidentialité</a></mdb-checkbox>
                        </div>
                      
                      </div>
                      
                      <div class="d-flex justify-content-end">
                      <button (click)="signup()" [class.disabled]="signUpForm.invalid||message===7||message===3||checkbox===false" *ngIf="new"  mdbBtn  class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>S'inscrire</button>
                    </div>
                    <hr>
                    <div class="text-center">
                    <p>ou s'inscrire avec:</p>
                    <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','UP')"></mdb-icon> 
                   <mdb-icon class="text-pink-dark-custom" fab icon="google-plus-g" (click)="signWithSocial('GO','UP')"></mdb-icon>
                  </div> 
                  </div>
                    <div *ngIf="!new" class="text-roboto-regular-14 mx-5 pt-3 mb-1">
                      <p class="text-grey-custom d-flex justify-content-end">Nouveau?
                        <a (click)="new=true;signUpFormBuild()" class="text-pink-dark-custom ml-1"> S'inscrire</a>
                      </p>
                                            <!-- Social register -->
  
                    </div>
                    <div *ngIf="new" class="d-flex justify-content-end text-roboto-regular-14 mx-0 pt-3 mb-1">
                      <p class=" text-grey-custom d-flex justify-content-end">Deja inscrit?
                        <a (click)="new=false;signInFormBuild()" class="text-pink-dark-custom ml-1"> Se connecter</a>
                      </p>
                            <!-- Social register -->
        
    
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </header>
  <!--Main Navigation-->
  
  <div class="d-block d-lg-none"  >
      <img style="width:100%" src="assets/deliveryman-signin/banner.png">
      
      <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 ">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s" style="box-shadow: none;background-color: transparent">
                <mdb-card-body>
                  <!--Header-->
                  <div *ngIf="!new" class="text-center">
                    <img src="assets/deliveryman-signin/signin-icone.png" class="mx-auto">
                    <h4  class="modal-title w-100 font-weight-bold text-muli-bold-21 text-pink-dark-custom ">Se connecter</h4>
                  </div>
                  <div *ngIf="new" class="text-center">
                      <img src="assets/deliveryman-signin/signup-icone.png" class="mx-auto">
                      <h4   class="modal-title w-100 font-weight-bold ext-muli-bold-21 text-pink-dark-custom">S'inscrire</h4>
   
                    </div>
                  <!--Body-->
                  <div *ngIf="!new && signInForm" class="mx-3">
                    <div *ngIf="message===6" class="alert alert-success mt-1" role="alert">
                      Votre inscription est terminée. veuillez confirmer votre adresse Email. Si vous n’avez pas reçu l'email de confirmation :
                      vérifiez dans votre dossier spam
                  </div> 
                  <div *ngIf="message===1" class="alert alert-danger mt-1" role="alert">
                    Email ou mot de passe invalide
                </div> 
                  <div *ngIf="message===4" class="alert alert-danger" role="alert">
                      Votre compte n'est pas encore confirmé , vérifiez votre boite mail pour le confirmer
                    </div>
                    <div class="md-form mb-5">
                      <input #email2="ngModel" mdbInput type="text" class="form-control" id="email" name="email" [(ngModel)]="email">

                      <label for="defaultForm-email2" class="text-muli-regular-14 text-gery-light-custom" >Email</label>
                      <mdb-error
                        *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
                        Email invalide
                      </mdb-error>
                    
                    </div>
                  
                    <div class="md-form mb-5">
  
                      <div class="input-group">
  
                        <input [type]="fieldTextType ? 'text' : 'password'" id="defaultForm-pass" [formControl]="getSignInFormPassword" class="form-control"
                               mdbInput mdbValidate>
                        <label  for="defaultForm-pass"  class="text-muli-regular-14 text-gery-light-custom">Mot de passe </label>
                        <div class="input-group-append">
  
                          <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType()">
                            <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            
                          ></i>                        </span></div>
                       
                        <mdb-error
                          *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
                          Mot de passe Obligatoire
                        </mdb-error>
                        </div>
                     
                     
                    </div>
                    <div class="d-flex justify-content-around">
     
                      <div>
                        <!-- Forgot password -->
                        <a (click)="generatePassword()">Mot de passe oublié ?</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button *ngIf="!new" [class.disabled]="signInForm.invalid" (click)="signin()"  mdbBtn  class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>Se connecter</button>
                  
                    </div>
                    <hr>
                    <div class="text-center">
                  <p>ou se connecter avec:</p>
                  <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','IN')"></mdb-icon>
                 <mdb-icon class="text-pink-dark-custom"  fab icon="google-plus-g" (click)="signWithSocial('GO','IN')"></mdb-icon>
                  </div>
                  </div>
                  
                  <div *ngIf="new && signUpForm"  class=" mx-3">
                    <div *ngIf="message===2" class="alert alert-danger mt-1" role="alert">
                      Email existe Deja
                  </div>
                  <div *ngIf="message===3" class="alert alert-danger mt-1" role="alert">
                    Email invalide, vérifiez votre addresse mail SVP
                  </div>
                  <div *ngIf="message===5" class="alert alert-danger mt-1" role="alert">
                    votre inscription a echoué:
                    vérifiez la piece jointe que vous avez inseré
                    </div>    
                         <!-- Default switch -->
                            <!-- Default checked -->
                            <div class="form-row">
                              <div class="col">
                  
                          <div class="md-form mt-1 mb-4 ">
                              
                              <input type="text" id="lastName2" required pattern="[a-zA-Z]{2,}$" class="form-control" [formControl]="getSignupFormLastName"
                                     mdbInput mdbValidate>
                              <label class="text-muli-regular-14 text-gery-light-custom" for="lastName2">Votre Nom</label>
                              <mdb-error *ngIf="getSignupFormLastName.invalid && (getSignupFormLastName.dirty || getSignupFormLastName.touched)">
                                Nom Obligatoire
                              </mdb-error>
                             
                            </div> 
                          </div>
                          <div class="col">
                            
                    <div class="md-form mt-1 mb-4">
                      <input type="text" id="orangeForm-name2" required pattern="[a-zA-Z]{2,}$" class="form-control" [formControl]="getSignupFormName"
                             mdbInput mdbValidate>
                  
                      <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name2">Votre Prenom</label>
                  
                      <mdb-error *ngIf="getSignupFormName.invalid && (getSignupFormName.dirty || getSignupFormName.touched)">
                        Prenom Obligatoire
                      </mdb-error>
                     
                    </div>
                  </div></div>
                  <div class="form-row">
                      <div class="col-lg-12 col-xl-12">
                          <div class="md-form mt-1 mb-4 ">
                          <input type="text" id="orangeForm-Tel2" required pattern="[0-9]{8,8}$" maxlength="8" minlength="8" class="form-control" [formControl]=" getSignUpFormTel"
                                 mdbInput mdbValidate>
                          <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-Tel2">Numero Tél</label>
                          <mdb-error
                            *ngIf=" getSignUpFormTel.invalid && ( getSignUpFormTel.dirty ||  getSignUpFormTel.touched)">
                            Numero Tél Obligatoire
                          </mdb-error>
                          
                          </div>
                        </div>
                     <!--  <div class="col-lg-12  col-xl-7">
                  <div class="md-form mt-1 mb-4 form-group input-group ">
                  
                  <input type="text" id="orangeForm-Cin2" required pattern="[0-9]{8,8}$" maxlength="8" minlength="8" class="form-control" [formControl]="getSignUpFormCin"
                         mdbInput mdbValidate>
                         <div class="input-group-append file-field">
                            <div class="text-muli-regular-10 btn btn-grey-custom btn-sm mb-0 float-left waves-effect waves-light">
                              <span><mdb-icon fas icon="upload" ></mdb-icon></span>
                              <input class="file" type="file" (change)="selectFile($event)">
                            </div>
                            <div class="file-path-wrapper">
                              <input  class="file-path form-control" style="display: none;" type="text" required  [formControl]="getSignUpFormCinImage"
                              mdbInput mdbValidate disabled>
                            </div>
                          </div>
                  <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-pass">Votre cin</label>
                  <mdb-error
                    *ngIf="getSignUpFormCin.invalid && (getSignUpFormCin.dirty || getSignUpFormCin.touched)">
                    CIN Obligatoire
                  </mdb-error>
                  
                  </div>
                </div> -->
                
                  
                 </div>
               
                <div class="form-row">
                  
                <div class="col-md-12">
                    <div class="md-form mt-1 mb-4 ">
                        <input type="text" id="address2" class="form-control" [formControl]="getSignupFormAddress"
                               mdbInput mdbValidate>
                        <label class="text-muli-regular-14 text-gery-light-custom"  for="address2">Votre Adresse</label>
                  
                        <mdb-error *ngIf="getSignupFormAddress.invalid && (getSignupFormAddress.dirty || getSignupFormAddress.touched)">
                          Adresse Obligatoire
                        </mdb-error>
                       
                      </div></div>
              </div>
                
                      <div class="form-row">
                          <div class="col">
                    <div class="md-form mt-1 mb-4 ">
                      <input #email3="ngModel" mdbInput type="text" class="form-control" id="email" name="email" [(ngModel)]="email">

                      <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-email2">Votre email</label>
                      <mdb-error
                        *ngIf="getSignupFormEmail.invalid && (getSignupFormEmail.dirty || getSignupFormEmail.touched)">
                        Email Invalid
                      </mdb-error>
                      
                    </div>
                  </div></div>
                  <div class="form-row">
                      <div class="col">
                        <div class="md-form mt-1 mb-4 input-group">
                        <input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(0)" autocomplete="new-password" [type]="fieldTextType ? 'text' : 'password'" id="orangeForm-pass" class="form-control" [formControl]="getSignupFormPassword"
                               mdbInput mdbValidate>
                        <label class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-pass">Votre mot de passe</label>
                        <div class="input-group-append">
  
                          <span class="input-group-text border-0" style="background-color:transparent;">
                            <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"
                          ></i>                        </span></div>
                        <mdb-error
                          *ngIf="getSignupFormPassword.invalid && (getSignupFormPassword.dirty || getSignupFormPassword.touched)">
                          Mot de passe Obligatoire
                        </mdb-error>
                        
                      </div></div></div>
                    <div class="form-row" >
                      <div class="col">
                        <div class="md-form mt-1 mb-4  input-group">
                        <input (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(1)"
                           autocomplete="new-password" passwordValidator [formControl]="getSignupFormPasswordC" mdbInput
                            mdbValidate name="passwordConfirmation"  [type]="fieldTextType1 ? 'text' : 'password'" id="defaultRegisterFormPasswordC2"  class="form-control" >
                            <label class="text-muli-regular-14 text-gery-light-custom" for="defaultRegisterFormPasswordC2">répéter  mot de passe</label>
                            <div class="input-group-append">
  
                              <span class="input-group-text border-0" style="background-color:transparent;" (click)="toggleFieldTextType1()">
                                <i
                                class="fa"
                                [ngClass]="{
                                  'fa-eye-slash': !fieldTextType1,
                                  'fa-eye': fieldTextType1
                                }"
                                
                              ></i>                        </span></div>
                        <mdb-error
                        *ngIf="message === 7">
                        Les mots de passe saisis ne sont pas identiques. 
                        </mdb-error>
                      </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="col mt-3">
                        <mdb-checkbox [default]="true" [(ngModel)]="checkbox">J'ai lu et accepté les Termes et conditions et <a target="_blank" routerLink="/confidentiality"> la Politique de confidentialité</a></mdb-checkbox>
                      </div>
                    
                    </div>
                    
                    <div class="d-flex justify-content-end">
                    <button (click)="signup()" [class.disabled]="signUpForm.invalid||message===7||message===3||checkbox===false" *ngIf="new"  mdbBtn  class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>S'inscrire</button>
                  </div>
                  <hr>
                  <div class="text-center">
                  <p>ou s'inscrire avec:</p>
                  <mdb-icon class="mx-1 text-pink-dark-custom"  fab icon="facebook" (click)="signWithSocial('FB','UP')"></mdb-icon>
                 <mdb-icon class="text-pink-dark-custom" fab icon="google-plus-g" (click)="signWithSocial('GO','UP')"></mdb-icon>
                </div> 
                  </div>
                  <div *ngIf="!new" class="text-roboto-regular-14 mx-5 pt-3 mb-1">
                    <p class="text-grey-custom d-flex justify-content-end">Nouveau?
                      <a (click)="new=true;signUpFormBuild()" class="text-pink-dark-custom ml-1"> S'inscrire</a>
                    </p>
                  </div>
                  <div *ngIf="new" class="d-flex justify-content-end text-roboto-regular-14 mx-0 pt-3 mb-1">
                    <p class=" text-grey-custom d-flex justify-content-end">Deja inscrit?
                      <a (click)="new=false;signInFormBuild()" class="text-pink-dark-custom ml-1"> Se connecter</a>
                    </p>
                  </div>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
      </div>
    </div>
  </div>
  </div>
  <!-- <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisir votre numéro de téléphone </strong> </h4>
        </div>
        <div class="modal-body">
  
          <div class="md-form ml-4 mr-4 mt-3">
            <input #phonenumber2="ngModel" mdbInput type="text" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="phonenumber">
            <label for="comment">Numéro de téléphone</label>
       </div>
      </div>
        <div class="modal-footer">
          <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="save()"  mdbWavesEffect>Enregistrer</button>
        </div>
      </div>
    </div>
  </div> -->
  
 



  
  <div mdbModal #Modal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="Modal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisir le code d'activation  </strong> </h4>
        </div>
        <div class="modal-body">
          <div *ngIf="verif" class="alert alert-danger mt-1" role="alert">
            Votre code est invalid
        </div> 
          <div class="md-form ml-4 mr-4 mt-3">
            <input #code2="ngModel" mdbInput type="text" class="form-control" id="code" name="code" [(ngModel)]="code">
            <label for="comment">code</label>
       </div>
      </div>
        <div class="modal-footer">
          <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="verified()"  mdbWavesEffect>Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead text-pink-custom text-muli-bold-21">Mot de passe oublié ?</p>
  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="generatePassword()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
  
      <!--Body-->
      <div class="modal-body">
        <div *ngIf="forgotPassword!==2" class="form-row mb-2">
          <div class="col">
      <!-- Email -->
      <input  mdbValidate name="phoneNumber" [(ngModel)]="phoneNumber" pattern="[0-9]{8,8}$" minlength="8" maxlength="8" type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Saisissez votre numéro de télephone">
      <mdb-error *ngIf="forgotPassword===1">
      Le numéro que vous avez saisie n'admet pas de compte
    </mdb-error>
  </div>
    </div>
        <div *ngIf="forgotPassword===2" class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 text-pink-custom animated rotateIn"></mdb-icon>
          <p class="text-muli-semi-bold-14">VérfieZ votre téléphone pour récuperer votre nouveau mot de passe</p>
        </div>
      </div>

  
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a *ngIf="forgotPassword!==2" type="button" mdbBtn  outline="true" class="waves-effect text-muli-semi-bold-14 btn-pink-custom-outline" mdbWavesEffect (click)="generatePassword()" 
        data-dismiss="modal">Envoyer</a>
        <a *ngIf="forgotPassword===2" type="button" mdbBtn  outline="true" class="waves-effect text-muli-semi-bold-14 btn-pink-custom-outline" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Fermer</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
  </div>
  <div mdbModal #tops="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="tops.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Saisissez votre nouveau mot de passe </strong> </h4>
        </div>
        <div class="modal-body">
  
          <div class="md-form ml-4 mr-4 mt-3">
            <input mdbInput type="text" class="form-control" id="pass" name="pass" [(ngModel)]="passimput" #pass="ngModel" >
            <label for="comment">Vous avez dû recevoir un texto avec un code sur votre téléphone</label>
            <mdb-error *ngIf="forgot===1">
             Mod de passe incorrect
            </mdb-error>
       </div>

       
      </div>
        <div class="modal-footer">
          <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="verification()"  mdbWavesEffect>valider</button>
        </div>
      </div>
    </div>
  </div>