<h2 class="h1-responsive text-center"> La liste des livraison  </h2>
<div class="md-form">
  <input (keyup)="search($event.target.value)" type="text" id="search" class="form-control" aria-label="Text input with dropdown button" mdbInput>
  <label for="search">Recherche</label>

</div>
    <table mdbTable class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
                    <th class="text-center">Nom et prenom</th>
                    <th class="text-center">Restaurant</th>
                    <th class="text-center">Livreur</th>
                    <th class="text-center ">Date</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Total </th>
                    <th class="text-center">Gain </th>
                    <th class="text-center">Effacer </th>
      
                  </tr>
        
            <!--Card image-->
            
            <!--Card content-->
            
          
              <!--Title-->
              <tr *ngFor="let delivery of deliveries| paginate: { itemsPerPage: 8, currentPage: p };" >
            <td>

                 {{delivery.recipient}}
            </td>
            <td>

              {{delivery.sender}}
              <span *ngIf="!delivery.object">*</span>
         </td>
         <td>
          <span *ngIf="delivery.deliveryMan">{{getDeliveryMan(delivery.deliveryMan)}}</span>
          <span *ngIf="!delivery.deliveryMan">Sans livreur</span>
     </td>
        <td>
          
                <mdb-card-text >
              <p  >
                      {{delivery.deliveryDate | date :'short' }}
              </p>
          
          
                </mdb-card-text>
              </td>
              <td>
                {{status(delivery.status) }}
              </td>
              <td>
              <mdb-icon far icon="money-bill-alt"></mdb-icon>
                {{delivery.total}} DT
              </td>
              <td>
                  <mdb-icon far icon="money-bill-alt"></mdb-icon>
                 
                    {{change(delivery) }} DT
                  </td>
                  <td>
                    <button (click)="deleteId=delivery._id;frame.show()" type="button" mdbBtn color="danger" size="sm"  mdbWavesEffect><mdb-icon far icon="trash-alt"></mdb-icon></button>
                  </td>
       
              
        </tr>
     
    </table>
    <div  class="row mt-5 mb-5"> 
      <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls></div>
  
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Confirmations</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Voulez vous supprimer cette commande ?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="delete();frame.hide()">Oui
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Non</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

    




 
